[2022-01-14 10:25] #390 closed

[2022-01-14 10:25] Martinsos commented on #391
Done

[2022-01-14 10:25] #391 closed

[2022-01-14 10:28] Martinsos commented on #399
Done

[2022-01-14 10:29] Martinsos commented on #378
Done

[2022-01-14 10:29] #378 closed

[2022-01-14 10:36] Martinsos opened #426 "[AppSpec] Find a better way to pass around named declarations"
In AppSpec, declarations (Decl) don't contain their name inside them, instead when you fetch them from AppSpec you get them as `(String, <somedecltype>)` where `String` is the name of the declaration. e.g. `(String, App)` or `(String, Page)`.

Now, we often want to send them around together with their name, and seeing `(String, App)` in the type signature is not very non-descriptive.

So, I am thi

[2022-01-14 11:41] Martinsos commented on #425
Another check to do: check that entity provided to `app.auth.userEntity` has fields `email: string` and `password: string`.

[2022-01-14 16:09] shayneczyzewski opened #427 "Investigate Prisma client initialization error on first start after clean"
We should look into the following error:

[code]

This can happen in the examples/todoApp, if you `wasp clean` and then `wasp start` you actually still need a `prisma generate` to generate the prisma client it seems. While `wasp db migrate-dev` can do this too, it is not the root cause.

If you go into wasp/waspc/examples/todoApp/.wasp/out/server and run the following, you can see it is an initial

[2022-01-14 20:46] shayneczyzewski commented on #123
Ok, after giving it some thought @Martinsos, it sounds like we are in general agreement that _some_ form of explicitness for `AppSpec` dependencies into the various generator functions is good (so not using a vanilla `ReaderT`), but whether that is an explicit function param, or possibly a `Has...` type constraint, or maybe the polymorphic option for the transformer stack, or the IO shell idea, ar

[2022-01-16 19:10] matijaSos opened #428 "[Blog] Make it possible to see a list of and easily access all published blog posts"
Right now it is not possible to easily access older blog posts, the reader has to scroll through all the posts that came after it. We have the "Recent posts" section but that covers only the last 5 posts. Here is an example from Supabase: https://supabase.com/blog

[2022-01-16 20:08] matijaSos opened #429 "[example/Waspello] Show a nice error message when email address is unavailable during signup"
Right now we just show "error 500" console.error() popup. We should show a designed window with a helpful msg, e.g. "This email address is not available". Also, consider if this can be added to Wasp by default, so the developer doesn't have to reimplement it for every app.

[2022-01-16 20:16] matijaSos opened #430 "Provide nicer/better out-of-the box error messages for high-level auth feature (Signup and Login forms)"
Ideas:
- currently we show ugly console.error() popup, can we show a nice window?
- what happens in case when the email is already taken during signup?

[2022-01-16 20:19] matijaSos opened #431 "High-lvl Auth feature (Signup form) - should we say "Email is already taken" if it is (via live check)?"
Right now, we'll just say "error 500" in that case, but I think the majority of apps say "this email is already taken". Should we do the same? Should we also have an option to check it "live" (ajax), before the user presses "Submit", as it is common?

[2022-01-17 19:13] shayneczyzewski commented on #209
FYI: I will be squashing and rebasing this branch off master so we can pull in the new `FileDraft` type.

[2022-01-17 21:43] Martinsos commented on #427
In theory, we could treat this as code generation, from schema.prisma to some code, and then make it part of the Generator -> Generator would run `prisma generate` as needed to generate code from schema.prisma. That could be every time that `compile` is called, with optimization of using checksum to avoid doing it when not needed.

[2022-01-17 22:32] Martinsos commented on #123
You are right that we should probably give up on trying to pass AppSpec everywhere for now and just focus on error reporting!

I am thinking however that we should make it easier to refactor in the future -> I wouldn't want us to again have to refactor all of these type signatures.

For example, we might want to soon add the capability to report warnings -> in that case we don't want to crash the

[2022-01-17 23:29] shayneczyzewski commented on #123
Hey @Martinsos thanks for the example. I think planning ahead if we think we will need it, which it does sound like here, makes sense. I'm good with creating a Generator monad that is first just ExceptT! 👍🏻 Will start on it, thanks.

[2022-01-19 01:43] shayneczyzewski commented on #123
Hey there, @Martinsos! I did some early work on the new Generator Monad today: https://github.com/wasp-lang/wasp/commit/2b6b43c53f54b76b94c9c4989f8c1e2872a79889 I'm not ready for a full PR review, as it is still a very rough day-old WIP, but I did have a few questions that hopefully won't take more than a few min of your time.

The questions I ran into are:
- Do you think it makes sense to only co

[2022-01-19 12:43] Martinsos commented on #123
1. Generator or not -> I understand your reasoning and I don't have a very good answer. I would say, if we are not sure, go with Generator. Yes, it gives us some capabilities that we don't need, but that is not really an issue. On the other hand, if there is a function that you really feel can be more standalone for whatever reasons, and you don't see it as a generator function, then keep it "pure

[2022-01-19 13:05] shayneczyzewski commented on #123
Great, thanks @Martinsos for your quick take! This is super helpful and will unblock me to hopefully to get closer towards a Draft PR today (and hopefully ready for review tomorrow). I really appreciate the thoughts! 👍🏻 🚀

[2022-01-20 00:12] Martinsos commented on #425
Ideas for semantic checks:
- Warn about conflicting / duplicate route paths: https://github.com/wasp-lang/wasp/pull/423#discussion_r787782834
- Warn on missing components: https://github.com/wasp-lang/wasp/pull/423#discussion_r787787390

[2022-01-20 13:24] Martinsos commented on #63
@matijaSos makes sense now! One thing to mention is that if you are using local state approach, the action has to happen in the same react component, or possibly a child, in order for it to have access to the local state. If it is some other part of the web app, then you need Redux or react-query or some other solution.

[2022-01-20 17:44] shayneczyzewski commented on #209
Today, we added `getDstPath :: w -> Path' (Rel ProjectRootDir) File'` to the `Writeable` Type Class, and instances for `FileDraft` and their variants. This enabled us to get started on the logic for writing FDs and deleting files. 🔥

In order to determine `fileDraftsToWrite`, we needed to find both new FDs that were not yet in the checksum file (`getNewFileDrafts`), as well as FDs that were presen

[2022-01-20 21:06] Martinsos commented on #209
The main part is done, now for the other 80% :D :P.

[2022-01-20 21:33] shayneczyzewski commented on #209
Haha yes exactly!

[2022-01-23 14:21] #123 closed

[2022-01-24 12:50] Martinsos commented on #404
Done

[2022-01-24 12:50] #404 closed

[2022-01-24 12:50] Martinsos commented on #401
Done

[2022-01-24 12:50] #401 closed

[2022-01-24 12:53] Martinsos commented on #312
Done

[2022-01-24 12:53] #312 closed

[2022-01-24 12:57] Martinsos commented on #109
Done!

[2022-01-24 12:57] #109 closed

[2022-01-25 15:37] shayneczyzewski opened #434 "End-to-end blackbox testing of Wasp CLI commands"
It would be nice if we had some testing facility that made it easy/scalable to test the Wasp CLI via end-to-end blackbox style testing. This means we can create a new project and do some validation of the files on disk. We can modify the files in some way, run commands, and observe the outputs (in browser, stdout, and disk). We can test different permutations of commands, etc. All very fuzzy, but

[2022-01-25 16:58] Martinsos commented on #434
This sounds great!

As for comparing two git commits and ensuring certain outputs are identical -> I liked how they do it in Jest (JS test framework), where they have a concept of "snapshots" -> basically they do this diff and inform you which files / data changed, and you have to accept those changes / agree to them. In that context they are usually used for data files, CSS files, generated HTML

[2022-01-26 10:37] faassen opened #435 "Review goals"

[2022-01-26 10:38] #435 closed

[2022-01-26 18:15] shayneczyzewski commented on #427
Did some thinking and testing on this today, and came up with a few thoughts:

- Running `prisma` commands requires the `npm install` process to be done already. I don't think this is an assumption or process (forcing it to install ourselves) we want to build into the Generator. Therefore, we'd probably want to bolt it on to Start/Watch in CLI.
- We likely only want `db migrate-dev` to generate th

[2022-01-26 19:24] shayneczyzewski commented on #359
Did a quick test, and the upgrade to `3.8.1` does seem to fix db studio error. 🎉

I tried a few basic things and overall it seems to work so far. The main thing I noticed is when you `db migrate-dev` with existing migrations, it seems to ignore them and try to re-create them all as new migrations as the underlying SQL changes a bit. Tried on todoApp and realworld.

I'll see if I can find some v2 t

[2022-01-26 19:28] shayneczyzewski commented on #359
https://www.prisma.io/docs/guides/upgrade-guides/upgrading-versions/upgrading-to-prisma-3 seems to cover breaking changes, not the upgrading of legacy migrations specifically.

[2022-01-27 10:22] faassen commented on #78
I am not sure yet I understand the detail, but wouldn't browser source maps be of utility in this? It would only be of use for client-side errors directly, but perhaps we can use the same format for server side as well. It would be interesting to consider what (for instance) typescript does for NodeJS code and debuggers.

[2022-01-27 17:59] shayneczyzewski commented on #209
As we started on the "remaining 80% today" :D we got off to a quick win, implementing `deleteFiles` in about two minutes.

![giphy](https://user-images.githubusercontent.com/523636/151414500-bcd58250-bfd1-4715-85de-dd7f97170e47.gif)

We then switched over and wanted to implement the new `Writeable` functions (`dryRun` and `getDstPath`) for `CopyDirFileDraft`, and this is where the dragon appeared

[2022-01-27 18:02] Martinsos commented on #78
From what I know, source map is a way to map source to generated code when there is some kind of transpilation happening, and it is mostly useful to correctly place and describe errors.

So for example if Stylus is parsed into CSS, there will normally be a source map to describe which part of CSS relates to which part of Stylus.

Now, source maps might be browser, e.g. if running JS code that was

[2022-01-27 20:14] #214 closed

[2022-01-28 10:43] Martinsos commented on #269
There was an attempt to implement this issue with https://github.com/wasp-lang/wasp/pull/306, so it might be good to take a look at it for some inspiration!

[2022-01-28 11:15] Martinsos commented on #427
I will address the points from above as if they were numbered from 1 to 3.

1. Ah that is a good point that I forgot about! There is however a way to call commands from the Generator without having to assume that `npm install` was called, by using `npx`. You can do `npx prisma generate` (smth like this) and it will run `prisma generate` while using the already installed `prisma` binary from local

[2022-01-28 11:50] Martinsos commented on #359
Hm ok, doesn't sound too terrible! We can just ignore the migrations I guess, and we will recreate them as needed.

I am interested in figuring out if PSL changed significantly, so we can update our PSL compiler if needed. But I don't see any big changes, so probably best not to worry about it for now and we can do a separate effort later, of ensuring that our PSL compiler is up to date.

[2022-01-28 13:53] shayneczyzewski commented on #427
Ahh, yeah, I believe you are correct @Martinsos :) Not quite sure why I was so worried about preserving the runtime behavior, and agree it is better to have a broken, consistent app instead of an inconsistent running version for sure. I think it does make sense to view prisma client generation in the context of normal Wasp app generation (even if a potentially expensive step) and not in relation t

[2022-01-28 14:26] Martinsos commented on #427
@shayneczyzewski great!

Errors in console -> ah yes, well for that we probably need typed language like TypeScript though, right? Some stuff is caught by React, but I doubt it will catch any of this stuff. But as you said let's see what turns out.

[2022-01-28 14:36] shayneczyzewski commented on #427
I should have fleshed that last line out more, apologies - I was primarily thinking if they edited entities while running they may see places on frontend/backend where it breaks in server/client messages, likely just type errors at point of use, but not sure if we will see those even or if Prisma will just be dying when fetching data from the db. We shall see!! :D

But yes, in a generator output w

[2022-01-28 16:46] shayneczyzewski commented on #427
Found some `npx` behavior we need to keep in mind as I was starting to play with this. If you remove your `node_modules/` dir in a generated project and `prisma` from `npx` cache, so you are in a state with no Prisma installed, something like:

[code]

It will try to install `prisma` for you into your global `npx` cache, and give you the latest version:
[code]

However, if you have already `npm in

[2022-01-28 17:22] Martinsos commented on #427
Thanks for this detailed explanation @shayneczyzewski !

Interesting hm, I was expecting npx to install prisma based on the local package.json even if node_modules/ is missing, not to resort to installing it as a global binary.

I agree with the possible solutions you described, I will to rephrase them here just to make sure we are on the same page:
1. It would be great if we could tell npx to ins

[2022-01-28 17:29] Martinsos commented on #427
Reading about `npx` a bit more right now, I conclude it is mostly meant to run binaries from the local node_modules, not to install anything into it -> instead, when it needs to install something (because it is missing in local node_modules), it does so in some relatively global place. So `npx` might not be the solution to this it seems. I am not 100% giving up on it, maybe we can somehow trick it

[2022-01-28 17:35] Martinsos commented on #427
I read the docs a bit and only useful flag for `npx` I found (actually for `npm exec` which is alternative to `npx`) was `offline`, which forces it to fail if binary is not already installed on the machine -> so e.g. if we called `npm exec` with `offline` flag and exact version of the binary, then we can be sure that it won't install it globally if it is not already present either in the project v

[2022-01-28 17:36] shayneczyzewski commented on #427
Thanks for the reply @Martinsos. Yeah, that is the feeling I am getting from `npx` too. Either you installed it already locally, or not, but it won't handle local install for you just global if missing.

1) I checked the docs for it https://www.npmjs.com/package/npx and it doesn't seem to have any install related. We could override the command not found behavior perhaps, but that starts feeling fr

[2022-01-28 17:38] shayneczyzewski commented on #427
That is an interesting idea! I will try it out, thnx 👍🏻

[2022-01-28 17:44] Martinsos commented on #427
Yeah, running `npm install` each time would be too expensive / slow, we need some way to figure out if needs to be running or not.

Maybe `npm exec` with `offline` flag is the solution for that.

Keep in mind that `npm exec` with `offline` flag will use global version of package if installed. So we need to use the very specific version of package if we want to avoid potential discrepancies. If we

[2022-01-28 17:47] shayneczyzewski commented on #427
Yep makes sense! I plan to try and see if I can get some fallback behavior (via `offline` or otherwise) while specifying `prisma@2.22.1` everywhere. Thanks for the brainstorm on ideas for this issue 👍🏻 I think we will end up being far safer with db commands this way too (by version pinning them).

[2022-01-31 09:52] faassen opened #436 "Broken link for migrating from sqlite-to-postgresql in error message"
**Describe the bug**

I'm working with the latest trunk of Wasp and when I build, I get an error message that points to a URL that is broken:

[code]

**To Reproduce**

- Checkout Wasp
- `stack exec wasp-cli new TestProject`
- `cd TestProject`
- `stack exec wasp-cli build`

**Expected behavior**
I expect a link that tells me what to do.

[2022-01-31 09:54] faassen commented on #436
The correct link appears to be here: https://wasp-lang.dev/docs/language/basic-elements#migrating-from-sqlite-to-postgresql

[2022-01-31 10:17] faassen opened #437 "Avoid compilation on whitespace changes"
When I do whitespace changes the recompilation procedure takes place. Would it be possible to detect that the essential configuration is still the same and avoid recompilation upon save?

[2022-01-31 10:40] faassen opened #438 "Allow numbers in names of projects"
Wasp is rather strict with project names I found when I tried `wasp new TestProject2`. I think it's likely I'm not the only one who will want to do so especially early on, and it may even be legitimate for an application to contain 2 in its name, so I think we should support this.

[2022-01-31 10:46] faassen commented on #413
There appears to be deliberate code in place that copies over dotenv, in `ServerGenerator`'s `genDotEnv`.
I can simply remove this code, but why was it there in the first place?

There is also cleanup code that seems to ensure any old `.env` file is removed.

[2022-01-31 10:57] Martinsos commented on #413
Ah yes - the important thing is that file should be copied, but only during development -> not during building the app to be deployed!
So it comes down to checking if app is being built or not (there is isBuilt flag in AppSpec) and based on that conditionally copying or not copying the .env file.

[2022-01-31 12:38] Martinsos commented on #436
Good catch, however this is actually ok, it will work correctly once we release both new code and new docs, which will happen at the same time!

[2022-01-31 12:38] #436 closed

[2022-01-31 12:45] Martinsos commented on #437
Good point! I believe we could do that by running only compiler frontend, which would build AppSpec (or maybe stop even sooner, after tokenization), and then we could compare the result with the result of latest compilation, which we would keep stored somewhere (probably on the disk). We could compare checksums instead of actual source. We would need to extend this in the future to also work corre

[2022-01-31 12:47] Martinsos commented on #438
Ah yeah we already had a couple of iterations with this, but it seems like we are still not there! Makes sense, we should support this.

[2022-01-31 13:39] faassen opened #442 "Require LTS node version for Wasp"
Currently Wasp is very flexible in the node version it requires; it can be anything after v12. There's no particular restriction on npm either.

This flexibility doesn't seem to be a major feature - we already recommend in the docs that people install nvm to manage their versions. This flexibility does lead to far more complex testing requirements.

According to this: https://nodejs.org/en/about/r

[2022-01-31 13:40] #413 closed

[2022-01-31 13:57] Martinsos commented on #442
@faassen I agree! I will be doing new major release of Wasp soon, so I could make this part of that release.

I guess it will come down to updating the docs, updating the CI possibly as you mentioned, and also doing some testing to ensure we didn't break anything. But all together it shouldn't be a problematic change.

We could also modify generated projects so that they demand specific version of

[2022-01-31 13:59] Martinsos commented on #442
We are already using .nvmrc and engines field in package.lock json, but we don't have `strict` rule in .nvmrc.

[2022-02-01 08:53] matijaSos commented on #63
If we start with the most simplistic approach, just trying to provide the most direct interface to `react-query`'s `onMutate()`, I figured it would look something like this in Wasp:

main.wasp:
[code]

ext/actions.js:
[code]
So it would look something like this! The main problems/questions that I see:
- we need to provide access to `queryClient` (e.g. inject it in the function as above)
- we need

[2022-02-02 13:02] shayneczyzewski opened #445 "Should we consider using `GET` instead of `POST` for Queries?"
Ported over from Discord:

Nothing urgent, but one general question about something I noticed a while ago when building Waspleau but was just reminded of: it seems we use POST for all operations. I think this makes sense for actions, since they can modify, but for queries should we be using GET instead?
Semantically it would make more sense to me given the read-only nature, but wasn't sure if ther

[2022-02-02 21:51] Martinsos commented on #63
This makes a lot of sense to me!

- `onMutate` happens when exactly -> right before the mutation/action is called? Why don't we just put this code at the start of the action then? I know this is a silly question and there is a reason, I just can't remember it.
- Aha so they first cancel the existing queries (ok, because they don't want them to happen a bit after this and modify state -> we assume

[2022-02-03 08:07] Martinsos commented on #63
Btw this approach with events that I described -> I wonder if we will end up with something similar to Redux if we go in that direction. Not sure if that is what we want since we wanted something less boilerplatish. Just something to be cautious of.

[2022-02-03 08:30] Martinsos commented on #248
@shayneczyzewski I just found this feature and I believe it is duplicate of what you are solving right now, so assigning it to you to figure out if you should also close it once your prisma PR is done!

[2022-02-03 09:09] Martinsos commented on #269
This is closely related with https://github.com/wasp-lang/wasp/issues/95 .

[2022-02-03 09:32] Martinsos commented on #269
@faassen and I are doing pair programming on this one!

Branch is `269-npm-install-on-deps-change`.

[2022-02-03 09:39] faassen commented on #269
When someone changes a wasp file, when dependencies have changed since the last time the generation process ran or if there was a npm error, we know we need to run `npm install`, otherwise we can skip it.

`npm install` succeeds, in which case we record the new set of dependencies (to help with change tracking). We also want to record the success state. Next time we can skip `npm install` if depen

[2022-02-03 14:21] shayneczyzewski commented on #248
Sounds good @Martinsos This does appear to be a duplicate of the other two, so I will confirm once the other is done this is fully addressed and close if so.

[2022-02-03 18:12] shayneczyzewski commented on #209
Today, we spent about half our allotted time talking about a PR. However, we did have time to finalize `dryRun` for `CopyDirFileDraft` as planned. The approach we took is to get all the files in the directory (recursively), calculate their individual file checksums, and then calculate the checksum of those checksums in aggregate.

We then spent a bit of time refactoring that definition from:
[code

[2022-02-04 20:05] shayneczyzewski commented on #434
If we use a tool like https://github.com/bats-core/bats-core we can do some pretty interesting things.

If you clone that repo, along with these others, locally:
- https://github.com/bats-core/bats-file
- https://github.com/bats-core/bats-support
- https://github.com/bats-core/bats-assert

You can then run tests like ` ./bats-core/bin/bats test/test.bats` here: https://gist.github.com/shayneczyzew

[2022-02-07 10:09] faassen commented on #269
Small steps towards implementation:

* Create `compileAndNpmInstall`, use this in both start & watch. (what should `compile` and `build` do?)

* In `compileAndNpmInstall`, remove dependencies just before install, record dependencies after successful install

* In `compileAndNpmInstall`, do not rebuild if dependencies have not changed

We may get another function along the lines of `npmInstallIfReq

[2022-02-07 12:01] Martinsos commented on #434
Interesting @shayneczyzewski ! I wonder if we could instead use Haskell for defining our tests, so that we get type safety and nicer language than using bash, as I am thinking it might become quite complex to write all the test checks in bash, but that really depends on how complex will this logic turn out at the end I guess. Good to know about this as an option.

[2022-02-07 12:11] faassen commented on #269
How to generate the dependencies?

It needs to record the dependencies used during the *last* install so cannot just be overwritten during generation, as otherwise we never detect any differences. But generation can still store a `dependencies` file. The setup procedure checks whether `dependencies` is the same as `installed-dependencies`; if `installed-dependencies` is different or missing, the s

[2022-02-07 12:14] shayneczyzewski commented on #434
Yep, I agree it depends on what the goal here is and how complex we envision it getting @Martinsos. If we want basic filesystem and stdout checks, something like BATS may be sufficient given how quickly we can get things running. If we need something more complex, it could make sense to invest into a more robust Haskell setup.

[2022-02-07 13:19] shayneczyzewski commented on #209
FYI squashed and rebased master, so you will need to reset hard to origin before next time 👍🏻

[2022-02-07 20:09] #427 closed

[2022-02-07 20:10] shayneczyzewski commented on #248
This should be addressed with a new warning we added when we detected the user may need to `db migrate-dev` on first run (or with updates after a migrate) [https://github.com/wasp-lang/wasp/pull/424]. Additionally, we now also automatically generate the Prisma client as part of overall app generation [https://github.com/wasp-lang/wasp/pull/444].

[2022-02-07 20:10] #248 closed

[2022-02-07 20:18] shayneczyzewski commented on #359
Trying to get this answered in Prisma Slack:

My main question is, is this expected and I should just add the new migration when upgrading (vs some other approach)? Any other tips/considerations to help migrate existing databases between these major versions? I did see this: https://www.prisma.io/docs/guides/upgrade-guides/upgrading-versions/upgrading-to-prisma-3 Thanks!

[2022-02-07 22:38] Martinsos commented on #248
Awesome :)!!

[2022-02-07 22:54] Martinsos commented on #269
`compile` should do just compilation.

`build` -> hmmmm, I am actually not quite sure. I would let it do whatever it does right now, not modify it. Keep in mind it generates output in different directory then `wasp start` does.

[2022-02-07 22:57] Martinsos commented on #269
Interesting, challenge is the fact that we don't know dependencies in CLI, instead they are know in Generator?
One solution is to move most of the logic into Generator -> let it worry about generating the file with used dependencies, and updating it. CLI will call this logic when/if needed, but Generator would be the one containing it. This makes sense because `waspDeps` are a property of Generato

[2022-02-08 11:23] faassen commented on #77
I'm quite interested in how we design this one, but I won't get around to it soon so unassigning.

[2022-02-08 11:25] faassen commented on #414
I haven't looked into this in detail yet, but looking into how error reporting in other systems works is quite interesting. Rust is a good candidate to study, and so may be TypeScript, or even Python's static typing system.

[2022-02-09 09:42] Martinsos opened #453 "Move Wasp from Stack to Cabal"
Cabal is now in a very good shape, its development is going well and it is being supported by HF.

On the other hand we often encounter bugs with Stack, be it server outage, or some smaller bug, or bugs related to tooling: e.g. lsp doesn't work correctly across different parts of package (exec, lib, tests). This latest bug is the biggest problem, as it makes TDD really hard, and it has been open f

[2022-02-10 11:12] faassen opened #456 "Consider supporting user dev dependencies"
We perhaps want to allow the user to also create dev dependencies for the project. Or should the user just not have to care about that?

I think in an application (as opposed to a library) it doesn't really matter all that much whether things are dev dependencies or not, but this may be relevant to future application reuse, but JS developers generally have an expectation to be able to install them

[2022-02-10 12:16] faassen commented on #434
Another approach I know about is https://www.texttest.org/

This compares log files generated with expected log files, and offer diffs as a failure. I don't know whether it could also use the same technique to compare our build artifacts. The framework has been around for a while and the website present is definitely not the most up to date, but it appears to be a relevant approach.

[2022-02-10 12:39] faassen commented on #434
Yeah, I don't know whether filesystem based comparison is a part of TextTest but it may fit the bill as it's not that different from diffing a log file.

I think in general we could get quite far if we could record the output of the logs to the filesystem, and then diff that along with the expected generated output. A visual diff tool like meld will indicate "test failures". :)

[2022-02-10 12:43] shayneczyzewski commented on #434
True, that would be nice! I think we may need to beef up our logging in general though if we went a pure log approach, perhaps by adding additional, more verbose, log levels, as well as quieting other things (like node output) that may make it too noisy to compare. Interesting space that will be helpful once we get it rolling. 👍🏻

[2022-02-10 14:54] Martinsos commented on #434
Yeah, just having snapshots (like Jest has snapshots) would probably get us pretty far already!

Haskell -> yeah let's not force it if it doesn't fit the problem, but if it does it might be cool to use it (whenever I start doing something in bash and it grows significantly I tell myself I will not use bash next time :P).
Important: Haskell has this famous library called Turtle: https://hackage.has

[2022-02-10 14:56] Martinsos commented on #434
There is also this: https://hackage.haskell.org/package/tasty-golden -> maybe this way we can utilize our existing testing infrastructure for these tests also? We are using Tasty testing framework at the moment, in Haskell.

[2022-02-10 20:13] Martinsos commented on #209
Nice @shayneczyzewski and using `fswatch` sounds fun!

So when you change the route `to:`, only one file is generated/changed, right?

[2022-02-10 20:39] shayneczyzewski commented on #209
Sorta... I elided the others that change during _every_ compilation though, and only highlighted the deltas in the subsequent examples. So here is the full output:

[code]

And I changed it to a`Page` that already existed. Seems like checksum file shows twice for deletion and addition, waspinfo is updated, and server.js is probably removed/added.

[2022-02-11 05:32] kalle3e opened #460 "Realworld app returning Network Error"
**Describe the bug**

Downloaded the code, wasp build and wasp start and on registering user it returns "Network Error"

Error:
From wasp db migrate-dev ---

Environment variables loaded from .env
Prisma schema loaded from ../db/schema.prisma
Datasource "db": PostgreSQL database "postgres", schema "public" at "localhost:5432"

Error: P1001: Can't reach database server at `localhost`:`5432`

Please

[2022-02-11 08:00] kalle3e commented on #460
Hi Martin, thanks your your reply.

I run the realworld app on my laptop that has ubuntu 20.04

The db is run by docker run --rm --publish 5432:5432 -v postgresql-data:/var/lib/postgresql/data --env POSTGRES_PASSWORD=devpass postgres

Message from this command:
![Screenshot from 2022-02-11 18-53-33](https://user-images.githubusercontent.com/64237549/153555307-ca6994ff-1d8a-4d3e-ad23-c0cd1b375be5.p

[2022-02-11 13:47] Martinsos commented on #460
Hmmmm, so it is not an issue related to Wasp, instead it seems to do with the Docker image for Postgresql.

I found some possibly related issues here:
- https://github.com/MIT-LCP/mimic-code/issues/684
- https://github.com/docker-library/postgres/issues/886

I also found others mentioning the issue on different places, but I can't seem to find one clear answer pointing to a well defined problem.

[2022-02-11 14:42] shayneczyzewski opened #461 "Consider using `prisma migrate status` or `prisma db pull` to improve DB migration warnings"
Right now, we rely on a migrate checksum to know if the user has migrated locally. Should we use the actual database (via `prisma migrate status`) in some way? Let's think about it.

Some pros are we can determine if users have manipulated the database from under us, and we can also reduce unnecessary warnings on initial checkout/clean.

However, a con is our checksum approach lets us know if they

[2022-02-11 22:55] #356 closed

[2022-02-11 22:55] #359 closed

[2022-02-12 04:02] kalle3e commented on #460
Bravo, thanks very much Martin. I've got it working now thanks! I think I ran the db docker command outsite of the project dir and then I tried to fix problems running the localhost:5432 on the browser, but you said we don't do that. All good! Happy to have a look around with the code and wasp. It helps when you're more confident with working with a docker container to start with.

[2022-02-12 04:02] #460 closed

[2022-02-14 09:58] matijaSos opened #462 "[Blog] Individual post - Put some contrasting box around blog intro / CTA part, to distinguish it visually from the content"
Right now, it is hard to distinguish CTA from the text:

<img width="742" alt="wasp_blog_post_cta" src="https://user-images.githubusercontent.com/1536649/153841839-99339b42-a5ac-4fe8-ab46-eceba91b5b9a.png">

[2022-02-14 10:35] Martinsos commented on #460
@kalle3e great, I am glad we figured it out! Good luck with Wasp and feel free to reach out if you have any questions/feedback, either here or on our Discord server!

[2022-02-14 10:51] matijaSos opened #463 "[Docs] Algolia search is out of date, shows links to non existent pages"
E.g. search for postgresql. I guess we changed some URLs, but the search engine was not updated?

[2022-02-14 11:10] Martinsos commented on #461
We have:

**schema.prisma <-> migrations <-> db**

and challenge is recognizing when any of these are our of sync, so that we can warn developer, so they may take appropriate actions based on that.

What `prisma migrate dev` does is sync _schema_ with _migrations_ , and then also apply _migrations_ to the _db_. So it takes care of everything.

Right now, we use our manual "checksum" approach to tr

[2022-02-14 12:45] Martinsos commented on #463
Nice job reporting this -> fixed! We needed to migrate to new version of DocuSearch.

[2022-02-14 12:45] #463 closed

[2022-02-14 15:36] Martinsos commented on #453
How Hasura migrated to Cabal from Stack: https://github.com/hasura/graphql-engine/issues/3280  .

[2022-02-14 16:40] faassen opened #465 "Better output during setup phase for compilation"
`writeWebAppCode` which is invoked during compilation now has grown a seperate `runSetup` phase. Currently it can only return warnings and errors, which are displayed to the user.

For better UI on the command line, it would also be useful to output the following two messages (in standard way the CLI already uses):

* Start  messages ("Starting npm install")

* Success messages ("npm install succe

[2022-02-14 16:43] faassen opened #466 "Trigger restart of webapp & server directly from Wasp"
Currently the server restarts thanks to nodemon monitoring file changes (which are triggered by generation) and the frontend is restarted thanks to a similar monitoring by create-react-app.

Wasp could take control of these restarts itself, which would be more lightweight, provide more fine-grained control and may avoid certain bugs (where the frontend restarts after generation but before the setu

[2022-02-14 16:45] faassen opened #467 "Clean up postWriteDbGeneratorActions"
Two suggestions:

* `postWriteDbGenerator` could be renamed to something like `runDbSetup` (perhaps there's a better name)

* The `npm install` fallback can be removed, as we always run `npm install` before doing the db work.

[2022-02-15 14:15] Martinsos commented on #467
I believe it was named `postWrite` to indicate it should happen after the writing of file drafts, as it relies on the generated code. But, if we make it clear that setup comes after generation, that is also ok.

I am guessing you are planning to go after this issue pretty soon, as part of your further work?

[2022-02-15 14:20] faassen commented on #249
I wonder whether it's possible to use npm as a library. This seems to exist: https://github.com/npm/libnpm#table-of-contents

Of course that won't help us immediately in Haskell.

[2022-02-16 09:18] faassen opened #468 "startServer refers to `error` which doesn't exist"
I just saw this:

[code]

Looking at the generated `src/server.js`, I see this in `startServer`:

[code]

but `error` indeed doesn't seem to be defined anywhere.

[2022-02-16 17:42] #468 closed

[2022-02-17 15:51] shayneczyzewski commented on #209
Today we pulled out all the checksum logic (incl the writing/deleting of files) into its own module (`Wasp.Generator.WriteFileDrafts`) and refactored some nested pure logic to make it more testable. We started implementing some tests. 🤖  🚀

[2022-02-22 09:52] Martinsos commented on #381
More thoughts:
- empty list -> we have a special "empty list" type, so we should consider that. Unifying it with a non-empty list should simply result in the type of non-empty list.
- unification algorithm -> we can just put all the types together and do "unique" on them. But then we need to see if we can further reduce that type -> specifically, if there are any subtypes, those should be merged i

[2022-02-23 18:23] Martinsos commented on #144
Per @shayneczyzewski's suggestion, what if we provided support in Wasp for cache invalidation/updates from the server side? Would that how this would fit into Operations?

[2022-02-24 13:10] faassen commented on #63
I won't pretend I have absorbed this whole discussion fully, but here goes...

What strikes me is that the discussion is focused on effects that are immediately sent to the server, affecting the database. Besides these in UIs we have deferred effects (draft state) and ephemeral client side effects. Ephemeral effects we may forget about for now because they are not persisted and temporary, which ho

[2022-02-24 15:19] shayneczyzewski commented on #209
Spent today writing more tests for `Wasp.Generator.WriteFileDrafts`! Got to use infinite lists and some core vanilla Haskell/FP 🥳

[2022-02-24 16:43] matijaSos commented on #63
@Martinsos good question about the `onMutate()` - I check the docs and turns out it runs before the mutation function is executed. Although, theoretically, we could update query cache either before or after the mutation, even do it all in the same function.
From what I've read it seems that part of the reason on why this is done in `onMutate()` is because its result feeds into other handlers, such

[2022-02-25 12:59] sodic opened #478 "Add a Runtime check for Query arguments"
Wasp queries expect to receive all their arguments in a single serializable object. For example:
[code]
However, if we send something other than an object, the code does not always throw an exception. It some cases it does, in others it behaves incorrectly.

We should probably add a runtime check that ensures whatever the caller passes to the query is indeed an object. If (or when) we add the supp

[2022-02-27 18:51] matijaSos opened #480 "[blog & docs] Add a CTA for newsletter signup"
Currently, there is no (easy) way for a blog/doc reader to sign up for our newsletter. We should add some kind of a pop-up or a permanent e.g. top bar that will invite them to do so.

[2022-02-28 11:18] sodic commented on #414
I've taken a look at several popular languages to see how they approach error reporting.
### Other languages
#### TypeScript
TypeScript takes a top-to-bottom approach when reporting type mismatches.

Let's say we attempt to (incorrectly) use the value `v` in a context that expects a value of type `C`. If `C` is a nested composite type, and the cause of the type error is several levels of nesting d

[2022-02-28 11:48] sodic commented on #414
**TL;DR:** We should probably reverse the order of messages as this issue suggests. It's consistent with other languages

------

I've taken a look at several popular languages to see how they approach error reporting.
### Other languages
#### TypeScript
TypeScript takes a top-to-bottom approach when reporting type mismatches.

Let's say we attempt to (incorrectly) use the value `v` in a context t

[2022-02-28 14:35] shayneczyzewski opened #482 "Different indentation/ordering of `package.json` output locally vs CI"
When running the end-to-end CLI test suite locally, I get a different `package.json` file contents than when it runs in CI. Ideally, these should be the same. It is both a newline and order issue for server. Seems newline only for web-app.

UPDATE: Appears to be a result of `npm install` behavior where it overwrites your package.json after running. Most likely I have a different version of Node th

[2022-02-28 19:14] Martinsos commented on #414
Awesome analysis @sodic !

Sounds good to me. Do you have any suggestions on the details of the message, what the representation could look like? It would be great if we can make it as readable as possible, so that it can be quickly scanned for the crux of the problem, but that detailed reading also provides more context.

I provided some suggestions at the starting comment in this issue, but I di

[2022-02-28 20:48] shayneczyzewski commented on #482
Closing this issue as it is an `npm install` quirk and not something we can/should fix in the generator. My e2e testing will work around this by sorting `package.json` itself.

[2022-02-28 20:48] #482 closed

[2022-03-01 10:27] sodic commented on #381
To cover the use case from the issue's description (e.g., supporting both pages and routes for `to` fields in route declarations):
[code]
It should be enough to make changes inside `checkStmnt` and `weaken` functions, without needing to touch type inference and unification. This is because users will never be using the possibilities of sum types directly. More precisely, the user will either speci

[2022-03-01 12:35] sodic commented on #381
While researching, I stumbled upon the discovery that we are actually implementing union types (not sum types). The difference comes from something we've touched on several times in an unrelated context. There are two kinds of unions:
1. Untagged unions (most often called "union types") - this is what TypeScript has (e.g., `number | string`) and what we want to add to Wasp
2. Tagged unions (most o

[2022-03-01 13:10] Martinsos commented on #381
Thanks for sharing @sodic this is very interesting! Ok great, then let's call them union types!

Interesting regarding Haskell -> I read what you shared and besides certain technical reasons, I understood it mostly comes down to cost / benefit ratio. It would not bring enough to Haskell to be worth the complexity it would introduce. Which makes sense to me! In our case though, I think it could be

[2022-03-01 18:09] shayneczyzewski opened #485 "Clean up e2e tests suite"
Shorter term items:
- Remove `python2` dependency by processing files with Aeson Pretty before we pass it to TastyGolden to diff
- Make the directory removal look/feel safer (perhaps even have an optional file that lists what directories can be removed)
- Remove `awk` dependency by being able to patch Wasp files easier
- Tidy up newlines for Wasp entity inclusion via appendToWaspFile
- Update docu

[2022-03-01 20:01] #434 closed

[2022-03-01 21:13] sodic commented on #414
I think your suggestion should work well (less is more when it comes to messages). I can't think of anything else useful to say.

[2022-03-01 21:15] Martinsos commented on #414
Ah ok! I thought you might have some ideas how to present it visually, you know, how to show those arrows, how many newlines and where, fun stuff like that :D. Unleash your inner designer :D! Although I do agree, probably best to keep it simple!

[2022-03-03 12:08] sodic opened #487 "Syntax considerations: How we define functions"
Wasp-generated code prefers defining functions as **arrow function expressions**. The docs suggest the same approach for user-defined Queries and Actions. This issue makes a case on why we should perhaps reconsider this preference.

## The dilemma
There are two "dimensions" when it comes to differentiating between function definitions in JavaScript:
1. Function statements vs. function expressions

[2022-03-04 20:33] Martinsos commented on #487
@sodic super cool issue, I enjoyed reading it and learned a lot :D!

I think our mean reason for using arrow functions was that they look cool :D and they feel more functional -> similar to lamdbas in Haskell. But that really comes down to just feel, not utility, as you nicely described above.

All together makes sense to me! I think you laid out your arguments very clearly, nothing to add from my

[2022-03-06 11:28] Martinsos commented on #425
This was done!

[2022-03-06 11:28] #425 closed

[2022-03-06 11:32] #426 closed

[2022-03-06 11:32] Martinsos commented on #426
Closing for now as it is pretty minor, and there is TODO in the code.

[2022-03-06 11:35] Martinsos commented on #267
Done

[2022-03-06 11:35] #267 closed

[2022-03-06 11:48] Martinsos opened #489 "Smart CRUD UI / forms"
Add support in Wasp for easy creation of CRUD UI (based on Entities, or even potentially based on sub-DSL for building forms).

[2022-03-06 11:59] Martinsos opened #490 "Research and implement state management in Wasp"

[2022-03-06 12:05] Martinsos commented on #299
Closing this one, since new version of Analyzer got merged!

Advanced features are still outstanding, but they are labeled with `analyzer` label, so it is best to track them that way -> I will close this one.

[2022-03-06 12:05] #299 closed

[2022-03-06 12:12] Martinsos opened #491 "Access control / permissions in Wasp"
Ideas:
- On Operation level
- On Entity level
- On Entity field level

[2022-03-06 12:23] Martinsos opened #492 "Add Jobs / Workers support in Wasp"

[2022-03-06 12:45] Martinsos commented on #465
Done by @faassen !

[2022-03-06 12:45] #465 closed

[2022-03-06 12:47] sodic commented on #487
That's right! But I'd like to emphasize once again that the issue only talks about top-level named function definitions.

We misunderstood each other on this one (my fault, I left it pretty ambiguous).

Assuming we implement all our top-level function definitions as statements, we're only left with inline function expressions (and those are mostly one liners). I'd stick with the arrows here. `arr.

[2022-03-06 12:51] Martinsos commented on #487
This sounds very clear and reasonable! LGTM, and I think you can put this into README under code styles as I mentioned above.

[2022-03-06 12:52] sodic commented on #487
Will do, assigned myself to the issue!

[2022-03-07 11:34] #329 closed

[2022-03-07 14:09] #95 closed

[2022-03-07 14:20] faassen opened #494 "Ability to serve dynamic binary assets (images, pdfs)"

[2022-03-07 15:09] faassen opened #495 "Present initial ideas for state management in Wasp"
## Description

Come up with a plan for state.

## Acceptance criteria

* We want to work out the next steps for state: this takes the form of science fiction Wasp code and docs.

* Communicate these ideas to the team

[2022-03-07 15:11] faassen commented on #495
## Description

Come up with a plan for state.

## Acceptance criteria

* We want to work out the next steps for state: this takes the form of science fiction Wasp code and docs.

* Communicate these ideas to the team

[2022-03-07 15:11] faassen opened #496 "Research permissions"

[2022-03-08 13:54] shayneczyzewski commented on #405
Ref: https://www.reddit.com/r/haskell/comments/rknnv0/how_can_i_test_exe_code_in_stack_or_cabal_project/

[2022-03-08 15:29] shayneczyzewski opened #498 "Remove `python2` dependency and update README in e2e tests"

[2022-03-09 12:46] #498 closed

[2022-03-09 15:33] faassen opened #499 "Wasp test project generator"

[2022-03-09 15:34] faassen commented on #499
To test the scalability of Wasp it would be really handy if we had a test project generator that could generate a wasp project consisting of N files. It doesn't have to be a working Wasp project, just a compiling one.

[2022-03-10 08:27] sodic commented on #381
We won't "penetrate" into type constructors (e.g., dictionaries, tuples). For example:
[code]
It should be assignable to its supertype `[{ to: Route | Page }]`. We will check this during the weakening phase.

[2022-03-10 13:30] Martinsos commented on #381
In this session we defined new `unifyTypes` function, and we started implementing `makeReducedUnionType` function, by using UnorderedSet!

Ones we make that work, next big step will be implementing an algorithm in `weaken` that will correctly weaken sum types.

Before that we will also probably want to take care of TODOs and write some tests.

There is also Evaluator -> we will need to add support

[2022-03-10 13:41] faassen opened #503 "Improve algorithmic complexity of file draft generation"
## Description

Improve algorithmic complexity of file draft generation.

## Acceptance criteria

* use Data.Map and Data.Set in the place where we determine which file drafts to write to improve algorithmic complexity

## Notes

* make StrongPath Ord so we can use Map and Set with it

@shayneczyzewski and @faassen already explored this.

[2022-03-13 11:24] philderbeast commented on #453
How are you getting on with this @Martinsos? I've checked out the stack-to-cabal branch. Would it be possible to commit the cabal file generated from `package.yaml` as the first commit so we can see what needed to change, as a starting point?

Have you considered trying hpack-dhall? The [dhall-lang](https://dhall-lang.org/) description is "Maintainable configuration files" and I wholeheartedly agr

[2022-03-15 00:59] Martinsos commented on #453
@philderbeast thanks for checking in :)!
I actually just did some serious work on this today, check it out now -> it is very close to being done!

I did the start as you said -> I used as a starting point what stack generated.

I like the idea behind "Maintainable configuration files", so I should certainly give it a look, tnx for sharing! I might postpone it a bit till we get this working first t

[2022-03-15 10:45] faassen opened #505 "Think about Wasp JS templates"
## Description

JS code exists in the form of templates that are rendered to JS by Wasp during generation time.

Currently the only way to test the JS code generated by Wasp is to run a full generation and do a by-hand test against the generated application. (and a golden test of the generated code)

But this makes it impossible to use common JS tools like syntax checkers and linters, and it makes

[2022-03-15 11:43] #209 closed

[2022-03-15 16:09] Martinsos commented on #381
We finished implementing `makeReducedUnionType`, we updated `unify` function to reflect the changes, and we updated places where `unify` is called.

Next step is updating the `weaken` function! It will be interesting figuring out what to do with Dict.

[2022-03-16 15:00] #453 closed

[2022-03-17 10:09] #428 closed

[2022-03-17 10:12] sodic opened #509 "[Blog] Add article descriptions to improve SEO"
It makes sense to add the [`description` meta tag](https://docusaurus.io/docs/api/plugins/@docusaurus/plugin-content-blog#description) to our blog posts, and perhaps implement other SEO improvements.

[2022-03-17 13:39] #505 closed

[2022-03-17 14:19] shayneczyzewski commented on #405
The current approach is using a Cabal internal library to take all of the under cli and make that a library. The exe itself will just be Main. Then the internal library can be used for test suite as well. Ref: https://cabal.readthedocs.io/en/latest/cabal-package.html#sublibs

[2022-03-17 23:58] philderbeast opened #512 "Stan panic, hie file versions mismatch."
**Describe the bug**
[code]

I found this while testing #453.

[2022-03-18 00:39] philderbeast commented on #453
That's some bash script wizardry! For a first time run through, each of those tools is taking about 10 mins to build. They're not being run in CI (ormolu used to be).

I see `package.yaml` still exists.

[2022-03-18 11:41] Martinsos commented on #512
Hm interesting, I haven't had this happen to me!

Might be connected with this issue: https://github.com/kowainik/stan/issues/178 ?

I don't feel I understand the situation enough to open GHC bugs, I have to admit. What are your thoughts on this? Did you manage to fix this somehow, maybe by removing that .hie file, or running `cabal clean`?

[2022-03-18 11:44] Martinsos commented on #453
Oh wow you are right, I left the package.yaml behind by accident, removed it now!

Yeah, they take 10 minutes first time to build. I didn't know a better way to do it unfortunately, while still having them be local to the project.

hlint and stan are not used in CI yet since we didn't resolve all of the errors, but ormolu actually is! It is run in CI via `./run ormolu:check`.

[2022-03-21 09:54] faassen commented on #63
So invalidation is about tracking state used by queries and actions so that when an action affects a query result, we can invalidate (and possibly immediately reload) the query that produced it.

The simplest form of invalidation that would work is to invalidate all queries as soon as any action takes place. But this is inefficient - so we want to be more precise.

This precision can be:

* the re

[2022-03-21 14:00] #442 closed

[2022-03-21 14:50] #495 closed

[2022-03-21 16:54] shayneczyzewski opened #517 "Ensure FileDrafts to be written during generation are unique per path"
There was a latent bug which was recently discovered by end-to-end testing as we were optimizing the writing of `FileDraft`s during the generation process. We had two different functions that were generating a `server/src/server.js` file. It was not noticed before as the correct one must have been always written last. When switching to a Map-based implementation with paths as the key, we collapsed

[2022-03-22 11:18] sodic commented on #381
We started writing tests and should continue from `inferExpr - Type checks a list of dictionaries that unify but have different types`.

Summary:
- We decided it was OK for now to unify lists of dictionaries as union types (as opposed to inferring optionals)
- We decided that we should explicitly handle those cases in `weaken` because of the error messages
- We thought about assigning types to exp

[2022-03-23 12:04] #405 closed

[2022-03-23 12:18] #414 closed

[2022-03-24 13:02] Martinsos commented on #63
I just learned that Redux Toolkit (RTK) uses the mechanism extremely similar to what I have been describing above as smart invalidation via resources/labels!

They call it "cache tags": https://redux-toolkit.js.org/rtk-query/usage/automated-refetching.

It would be smart to take a look at how they did it once/if we decide to go in this direction. Also, this a +1 data point for this direction!

[2022-03-24 13:11] Martinsos commented on #63
RTK also has this section on manual cache updating/invalidation: https://redux-toolkit.js.org/rtk-query/usage/manual-cache-updates .

They have a nice explanation of use cases for manual cache updates:

Specifically, here is their take on optimistic updates: https://redux-toolkit.js.org/rtk-query/usage/manual-cache-updates#optimistic-updates -> basically on start of query/mutation you manually upd

[2022-03-24 13:19] Martinsos opened #522 "Replace ext/ dir with more structured organization of code (client, server, iso/shared)?"
The idea is to split ext/ into client/, server/ and iso/. So then we would copy client/ and iso/ to client, and server/ and iso/ to server. That actually sounds like a good solution for the problem we currently have, which is that we copy all the files everywhere and then get warnings and what not. It also makes it clearer which code is nodejs and which is just javascript.
Naming might be better t

[2022-03-24 16:15] Martinsos opened #523 "Implement a way to declaratively (in Wasp lang) define queries per page/component"
If we could express declaratively in Wasp which queries are used in a certain page/component, it would give us additional knowledge and we could provide some additional power to the user.

Redwood Cells are using very similar approach (https://redwoodjs.com/docs/cells).
With Cells, the idea is that instead of defining your own React component from scratch, you can define it as Cell → you implement

[2022-03-25 13:40] philderbeast opened #525 "Falling back to older state than requested index-state."
I'm not sure that this is working as intended as cabal seems happy to ignore it (or maybe cabal has a good reason but this is not well explained?).

https://github.com/wasp-lang/wasp/blob/a4a2b03a81fb84c691b2d6a5a8ce0c8948f4d22d/waspc/cabal.project#L22

[code]

[2022-03-25 13:43] philderbeast commented on #525
If I update then all is good, the falling back is no longer happening. Should we note of this in the build instructions?

[code]

[2022-03-25 13:53] philderbeast commented on #525
Looking at `cabal help update` it looks like I can update to a date but this is not exact.

[code]

[code]

[2022-03-25 14:27] philderbeast commented on #525
A bit more exploration. Between each break in code snippets here, I'm deleting `~/.cabal/packages/hackage.haskell.org/`.

[code]

[code]

[code]

[2022-03-28 10:26] Martinsos commented on #63
That is a pretty good summary of it!

Reading about RTK, it seems that having an invalidation based on resources/labels could already cover most of practical cases. Therefore it seems that with medium effort we can already get a lot of value there.

As for client state becoming source of truth in optimistic UI updates -> makes sense, although I guess one way to look at it is to say that client sta

[2022-03-28 17:37] shayneczyzewski opened #530 "RFC: Support for background jobs - Phase 1"
# Support for background jobs

Why do developers need background jobs? We often want to perform some work off of the web server’s main request-response loop, which may include one or more of the following:

- Long-running or resource-intensive computations
- Things that need to be executed at some point in the future (possibly on a recurring basis)
- Things that require different technology/infras

[2022-03-29 08:56] Martinsos commented on #381
We fixed some of the tests!
Next steps:
1. Write tests for `unifyTypes`, and simplify tests for `unify` based on that.
2. Fix `weaken` -> also write tests while doing it and get other tests passing (they are now failing because of how `weaken` incorrectly works.
3. Take care of more prominent TODOs, first one being not weakening typed expressions while doing unify, and another is figuring out the

[2022-03-29 12:53] #503 closed

[2022-03-29 13:05] Martinsos commented on #525
Hmmm, so what do we conclude here?

From what I understand, if our local list of hackage indexes is older than wanted index-state, then we get a warning from cabal, but the result is that older packages will be used than what we want to be used. So that is not good -> we should have our list of packages to be newer than the wanted index-state, so ensure we get packages from that index-state, right

[2022-03-29 20:44] Martinsos commented on #525
I agree with this, I would also prefer this to be an error! As you said, it is easy to miss this, and as a result we lose the reproducibility of the build, it is possible somebody builds it incorrectly. Should we open an issue on Cabal for this?

[2022-03-29 20:45] Martinsos commented on #525
Aha! Well maybe, hm. Do you think we should raise an issue for this on Cabal, also? It is somewhat suspicious.

[2022-03-29 23:25] #438 closed

[2022-03-30 13:23] shayneczyzewski commented on #530
Notes from meeting Mar 30:
- Keep an eye on monitoring for Phase 2 (possibly earlier to help us out)
- Cron string good enough for start
- Everyone seems to like Option 2 for cron support (`pg-boss`) for **Phase 1**
- Next steps: create Issue to put into backlog for Phase 1 steps 1 and 2

[2022-03-30 13:25] faassen opened #532 "Parsing Wasp DSL for jobs (without cron)"

[2022-03-30 13:25] faassen opened #533 "JavaScript API for using jobs"

[2022-03-30 13:25] faassen opened #534 "Add job cron support in Wasp DSL"

[2022-03-30 13:29] faassen commented on #532
## Description

We want to add a job definition to the Wasp DSL without `repeating` support as described in #530.

## Acceptance criteria

* job information in the Wasp file ends up in the appspec

* there is a automated test that demonstrates this

[2022-03-30 13:46] faassen opened #535 "Embed valid JSON inside of Wasp DSL quoters"
So instead of
[code]

we'd have:

[code]

[2022-03-30 13:50] faassen opened #536 "Use pg-boss for jobs instead of our JS shim (without repeating support)"
## Description

Instead of generating our simple JS stuff we now want to issue real persistent jobs and we use pg-boss as the backend. Once we do this we stop supporting the simple node-based in-memory jobs altogether.

If someone uses a `job` in their Wasp code we want to give an error if they're not using PostgreSQL.

This is NOT implementing any repeating support yet.

## Acceptance criteria

*

[2022-03-30 13:52] shayneczyzewski opened #537 "Background job support - Phase 1"
Mostly covered here: https://github.com/wasp-lang/wasp/issues/530

But to recap:
- Phase 1 - Mainly parsing the new DSL and creating basic SDK code for learning/iterating
  - Developer can register a JavaScript function to be executed as an async job, or on some schedule
  - Wasp provides a JavaScript SDK for invoking async jobs (immediately or with a delay) in the server context

[2022-03-30 13:54] faassen opened #538 "Add job cron support to Wasp"
## Description

We have support for the cron syntax in the DSL in issue #534. We also generates jobs with pg-boss as the backend in #536. We now extend our templates so we can also support repeating jobs with pg-boss.

## Acceptance criteria

* Add a repeating job to the todo example app

* Add this to the e2e test

[2022-03-30 14:01] faassen opened #539 "Extend documentation to describe jobs"

[2022-03-30 14:04] shayneczyzewski commented on #536
https://github.com/timgit/pg-boss

[2022-03-30 14:31] #322 closed

[2022-03-30 14:37] shayneczyzewski commented on #492
Duplicated by #537 Closing in favor of tracking this work there.

[2022-03-30 14:37] #492 closed

[2022-03-31 14:51] faassen opened #541 "Upgrade to version 3 of react-query"
## Description

Wasp is using React query version 2, not 3 (which was first released in 2020) and version 4 is already in alpha. We should upgrade Wasp to version 3.

This task is not to enable any new features, just adjust the existing functionality so it is based around version 3.

Before we do this, we should verify whether we can't leap to v4 (in alpha) right away, or at least get a better pic

[2022-03-31 14:51] faassen opened #542 "Investigate version 4 of react-query"

[2022-03-31 14:51] faassen opened #543 "Investigate integration of react-query useMutation into Wasp"
## Description

To get the full benefit from React Query, including the potential for optimistic update and fancy cache invalidation, we need to support the React Query `useMutation` hook.

## Acceptance criteria

Have an issue that specifies what React Query `useMutation` looks like with Wasp. Perhaps create two issues: one step is the equivalent of current Wasp capabilities, the second step is w

[2022-03-31 14:52] faassen opened #544 "Have basic support for (react-query based) manual optimistic updates and cache invalidation"
### Description

We want to support react-query style manual optimistic updates and cache invalidation in Wasp.

This issue needs to be further refined.

[2022-03-31 14:58] faassen opened #545 "react-query improvements"

[2022-03-31 19:24] philderbeast commented on #525
We get little feedback from the `cabal update` command.

cabal update: option to print which packages were updated, https://github.com/haskell/cabal/issues/7801

[2022-03-31 19:50] philderbeast commented on #525
@Martinsos I've logged https://github.com/haskell/cabal/issues/8076.

[2022-04-01 10:37] sodic opened #546 "[Generator] Default vs named imports"
JavaScript generally offers two approaches to importing and exporting names across modules.

The first option is using _named exports_:
[code]
And the second option is using _default exports_:
[code]

[2022-04-04 14:22] Martinsos opened #547 "Implement RTK-style cache invalidation via operations"
RTK - Redux Toolkit

Investigate first though

[2022-04-04 14:22] Martinsos commented on #547
Check whta react query has for this

[2022-04-04 14:25] Martinsos opened #548 "Investigate casbin a bit more"

[2022-04-04 14:26] Martinsos opened #549 "Create a step by step plan for implementing permissions (RFC)"

[2022-04-04 14:27] Martinsos opened #550 "Permissions v0.1"

[2022-04-04 14:34] faassen opened #551 "Wasp TS SDK (TypeScript-based Wasp AST generation)"
## Description

Wasp has its own DSL. This DSL lets you declare how a Wasp app goes together.

The DSL has the benefit that it makes very clear what is being configured, and lets you configure an entire full stack web app as a whole.

The DSL has some drawbacks:

* No default editor support, it needs to be built

* Need to maintain parser, typechecker

* It integrates JS/TypeScript code, but has n

[2022-04-04 19:06] Martinsos commented on #551
A quick go on pros/cons as I see it:
- Wasp DSL
  - Pros
    1. Clear, concise, cool. If needed, we can adapt it as much as we need to -> infinite freedom in ergonomics. It can be what we need it to be.
    2. Language agnostic, therefore plays into the idea that Wasp is above the implementation details of the web app and de-couples us from specific implementation language. On one hand, short term

[2022-04-05 14:27] Martinsos commented on #543
Let's just make sure usage of useMutation is powered by specific use cases, and not merely to expose react-query functionality!
I remember there was a reason why we didn't use useMutation so far, I believe for some reason we concluded we don't really need it. And I am pretty sure we will need it now, for manual cache invalidation / optimistic updates. But let's make sure to think about it from tha

[2022-04-05 14:28] Martinsos commented on #543
I would possibly even remove this issue, and make this just a consideration of "have basic support for optimistic updates".

[2022-04-05 14:32] Martinsos commented on #547
Solves 90% of what people need regarding query invalidation / client-server state management, making it elegant and cool to work with them → stuff just works! As one RTK user said → *such simple solution for such a complex problem*.

This is how RTK does it: https://redux-toolkit.js.org/rtk-query/usage/automated-refetching . I don't know if react-query also added smth to support this -> they didn'

[2022-04-05 14:36] Martinsos commented on #544
Thought: I believe doing manual optimistic updates, and doing manual cache invalidation, will turn out to be exactly the same thing, or at least very similarly thing. So it is worth exploring them together / thinking about them together.

This whole topic has also been discussed in some details as part of https://github.com/wasp-lang/wasp/issues/63 .

[2022-04-06 09:22] sodic commented on #381
Today we implemented tests for `unifyTypes`.

[2022-04-06 13:09] Martinsos commented on #525
Thanks @philderbeast ! I also commented on the issue on Cabal repo, providing a bit of context from my side.
What shall we do with this specific issue, shall we close it? Not sure we can do much more at the moment.

[2022-04-06 13:24] Martinsos commented on #546
Ha very interesting @sodic ! Thanks for this, I have never considered this deeply, but it all sounds very reasonable, and I am in for preferring named exports in Wasp over default ones.
I believe the main motivation was that when a certain file exports one single thing, it feels a bit weird to import it as named export. But we can do it , no problem!

How should we go about this? Should we not tou

[2022-04-06 14:45] philderbeast commented on #525
If you know to `cabal update` then this is not a problem. To that end, I've suggested #552. Not much else we can do for now so closing.

[2022-04-06 14:45] #525 closed

[2022-04-06 15:02] sodic commented on #546
@Martinsos I probably wouldn't touch anything for now since our code is still changing rapidly. We can make the changes and update the docs as we encounter them.

[2022-04-11 14:22] Martinsos opened #555 "Create RFC for v1 of Permissions"

[2022-04-11 14:23] Martinsos opened #556 "Create RFC for v1 of declarative queries"

[2022-04-11 19:00] Martinsos opened #558 "Error message when wrong node version is used is confusing"
There is a lot of output and since error message is at the top it took me some time to find it (because I started looking from the bottom).

I am also not sure which version at the end I actually should use -> it says 10 or 12 or 14 or 16 but I am pretty sure it should be just 16?

[code]

[2022-04-11 19:12] Martinsos opened #559 "Figure out Wasp's package.lock.json story"
We want to offer same guarantees as package.lock.json does, which is ensuring reproducible builds.

How do we do that with Wasp? Do we copy the package.lock.json files up from generated project files to the source? Or do we use some other abstraction on top of it? Should we use `yarn` instead od `npm` since it allegedly has better support (cross platform, `fevent` issues are avoided by `yarn` but

[2022-04-11 19:33] Martinsos opened #560 "Add support for Tailwind CSS (and other build-time tools?)"
Tailwind CSS CLI needs to run in build-time to generate the CSS (similar like Prisma does).

General process is described here: https://tailwindcss.com/docs/installation .
Here specifically for CRA: https://tailwindcss.com/docs/guides/create-react-app .

Generally, you want to have `tailwind.config.js` file in the root of the project (it says where are the files(templates) to compile), and then yo

[2022-04-11 19:38] Martinsos commented on #560
Actually there probably is a way to use Tailwind right now, which is by running `tailwindcss ...` cmd next to `wasp start` and ensuring it targets CSS file(s) from generated code and then again generates them into the generated code. But, that is pretty hacky / complicated, it would be much nicer to have an automatic way to do it, where you don't have to think about generated code.

[2022-04-11 19:41] Martinsos commented on #560
Maybe the easiest way is to just go with one, which is allowing to add files into the root of the generated (web) project (what about server?). That would already be enough to support tailwind, thanks to `postcss`.

More advanced solution would then be to allow some way to modify a build process, be it via webpack, or exposing some parts of package.json, or custom shell commands, or smth else.

[2022-04-11 19:45] Martinsos commented on #560
Also, if we are supporting running custom build tools, we probably also need to add support to install dev dependencies! What about that? Should we add support for that in Wasp? Otherwise, how are we going to call build tools, if they are not installed as web dependencies? For example calling `tailwindcss` -> it should be a dev dependency, right? Although CRA has unusual rules regarding that and p

[2022-04-12 08:38] Martinsos commented on #381
Next time: continue writing test for weaken, and then let's implement weaken. We also have a lot of TODOs sprinkled around.

[2022-04-14 14:31] sodic opened #563 "Refactor how we use Happy"
We use [Alex](https://haskell-alex.readthedocs.io/en/latest/) for generating a lexer for Wasp. Alex allows us to define the lexical grammar (and appropriate actions) in a _Lexer.x_ file using Alex's DSL. This file then compiles to Haskell and can be used as a regular module.

Alex's DSL syntax supports writing and using plain Haskell (e.g., functions, imported modules) inside the same `Lexer.x` fi

[2022-04-14 14:35] #197 closed

[2022-04-15 09:23] #541 closed

[2022-04-15 13:45] sodic opened #566 "Discuss how we use authentication"
Wasp currently handles sessions/authentication by having the client (i.e., the browser) make a request towards `/auth/me`:
- If the response comes back as `200 OK`, it also contains the session info (username, user ID, profile picture, etc.)
- If the response comes back as `403 Forbidden`, the client interprets it as the user not having a session

This might be problematic because of two reasons:

[2022-04-15 13:54] sodic opened #567 "[examples/realworld] Updating password bug"
Attempting to update your password with a string that does not satisfy all (e.g., does not have a number) results in a `500` error and does not tell the user why the update failed. We should:
- Handle this on the server without breaking
- Inform the user about password requirements
- Think of a way to provide Wasp support for the common password changing procedure

For closing this issue, it's eno

[2022-04-15 15:02] shayneczyzewski opened #568 "Review generated CSS and make plan for it moving forward"
We should review the generated CSS we have now and decide if we want to keep, tweak, or remove it entirely. We should also consider the possible direct/indirect interactions our base settings may have with any popular CSS frameworks out there (e.g. Material UI, Tailwind CSS which we cannot yet support #560 , etc.).

Note: Part of this awareness came after helping a user debug a dark mode Material

[2022-04-15 17:01] Martinsos commented on #566
Interesting discussion and nice analysis!

Session -> I wouldn't call it a session. We don't have state on the server that would represent a session, instead we deal with JWTs, so we are sessionless, to my best knowledge.

We have `/login`, `/signup` and `/me` routes on server.
`login` and `signup` are used to exchange credentials (username and pass) to obtain the valid JWT (I am trying hard to no

[2022-04-15 17:02] Martinsos commented on #567
@shayneczyzewski might be interesting to you since you did some work on passwords in Wasp if I remember correctly.

[2022-04-15 17:04] Martinsos commented on #568
We added it to have some nice defaults, but as @shayneczyzewski said, this now can cause interference with user's styling solution, so we might want to completely remove our defaults.

[2022-04-18 12:25] shayneczyzewski commented on #567
Thanks for raising this @sodic. Indeed, I think some auth middleware cleanup was a first task @Martinsos. In the examples/todoApp I do get a `422` server response with explanatory payload as expected (works for all 3 checks):

[code]

I will do a quick check to see what's up with realworld today. 👍🏻

[2022-04-18 12:27] shayneczyzewski commented on #567
Oh wait, sorry, just re-read with some coffee lol this is for _updating_ not signing up? Ok then, let me look into that in both todo and realworld. Thnx!

[2022-04-18 13:22] shayneczyzewski commented on #567
Ok, did some digging and just noting it all here for others (and my future self, as I forgot 99% of how it worked :D).

We have a Prisma middleware file `data/Generator/templates/server/src/core/auth/prismaMiddleware.js` file that is in charge of checking password requirements (both built-in, and user-defined). On the first validation that fails, we throw an `AuthError`.

In the case of realworld,

[2022-04-19 11:52] Martinsos opened #569 "Support seeding the database"
@joanreyero wanted to seed the database for the project, and while he managed at the end to directly use Prisma's support for this, he would love it if Wasp would support it directly:

The idea of using Actions (Operations) during seeding is also very cool!

We should figure out how to add support for seeding in Wasp, ideally using as much as we can from Prisma, but integrating it into Wasp.

[2022-04-19 12:00] Martinsos opened #570 "Proper IDE support for Wasp projects"
When developing a Wasp project, we want all the expected IDE functionalities to be there for the developers. We can focus on VSCode first, but would also want to support other popular editors.

Features we want:
- syntax highlithing/coloring
- formatting
- static analysis
- LSP

And we want this for .wasp files, and also for js/ts/html/css/... files. Also, for pieces of Prisma Schema Language that

[2022-04-19 12:00] Martinsos commented on #570
Feedback from @joanreyero:

[2022-04-19 13:56] shayneczyzewski opened #572 "Update `python` to `python3` in Dockerfile"
**Describe the bug**
When following the Deploying instructions on ~~an M1 Mac~~ _any machine_ to build the Docker container, you will get the following error:

[code]

The fix is to change `python` to `python3`. We should confirm this solution works on other architectures (and supports the original aim of including Pything to begin with), and if so, make it our default.

We should also add more M1

[2022-04-19 14:58] Martinsos commented on #572
Sounds good! I labeled the issue and put it to Backlog.

[2022-04-19 17:06] Martinsos commented on #572
You were right @shayneczyzewski !

Here it is, after deleting locally cached docker images:
[code]

[2022-04-19 17:07] shayneczyzewski commented on #572
Ah ok, whew glad it makes sense at least :D I will update the title to remove M1 specifically, thanks for confirming @Martinsos!

[2022-04-19 20:38] sodic opened #573 "Should we use sessions instead of JWT in Wasp for authentication? What about cookies vs local storage?"
We currently use token-based authentication (JWT and the `Authorization` header) and persist it inside `localStorage`. We might want to consider switching:
1. Change token-based authentication to session-based authentication
2. Change the persistence mechanism (cookies instead of local storage)

Sessions persisted in cookies seem to be more appropriate for web applications for a multitude of reaso

[2022-04-19 20:47] sodic commented on #566
Ah yes, speaking of sessions and tokens, I've made another issue talking about this very topic: #573

Hm, yes. This is also something I tried to emphasize above. If the error response truly is appropriate for this endpoint (i.e., "you're getting an error because you shouldn't have even requested this without authentication"), then the client using the same endpoint for checking whether the user is

[2022-04-19 22:12] sodic opened #574 "Refactor how Wasp generates JavaScript imports"
Wasp currently generates JavaScript imports in two distinct ways:
- For generating imports from user code ("ext imports"), we generate the entire import statements inside Haskell: https://github.com/wasp-lang/wasp/blob/main/waspc/src/Wasp/Generator/JsImport.hs
- For (I believe) all other use cases, we use templates. Imports inside templates look something like `import {= importWhat =} from {= impo

[2022-04-20 12:22] Martinsos commented on #573
Ha interesting! I thought JWT are relatively well accepted solution and I generally liked them because they don't require us storing anything on the backend and are pretty simple. That said, I certainly haven't investigated other alternatives thoroughly, so thanks for sharing this, we should certainly take this into consideration and see what is the best solution.

[2022-04-20 12:47] sodic commented on #573
I don't think this is actually true in most cases. For example, what should the backend do when the user logs out?
- If it does nothing, an attacker can still use the "invalidated" token to impersonate a logged-out user
- If it keeps a list of invalidated tokens, we introduce server state. So instead of sessions, we have "negative sessions"

The problem becomes even more apparent when you start sc

[2022-04-20 13:06] sodic opened #575 "Change the error code on auth/me to 401"
The `/auth/me` endpoint should return `401 Unauthenticated` instead of `403 Unauthroized` as explained in #566.

[2022-04-20 14:35] shayneczyzewski opened #576 "Add Apple M1-specific instructions for Heroku Deployments"
There is an issue with Heroku's container build command on Apple M1 that does not set the platform correctly. In short, we need instructions for M1 like this:

[code]

[2022-04-21 07:58] Martinsos commented on #566
1. Sessions vs tokens -> ok great, we can continue sessions vs tokens discussion in that other issue!
2. Misusing auth/me -> you have got a point there! It is as you described - we check if we are logged in by trying to fetch the details on ourselves, our user profile. If that **fails**, we conclude we are not logged in. The alternative could be to have special route for just checking if we hold v

[2022-04-21 08:05] Martinsos commented on #574
I think templates are certainly staying for now, in some capacity. We might likely move some stuff to runtime, but it will probably take long time till we completely drop templates, if ever. And even then, we will need ways to generate imports. So I think the idea of having a central logic in Haskell for generating valid JS import statement is a good idea in any case! And as you said, we can use i

[2022-04-21 08:18] Martinsos commented on #573
When logging out with client that uses JWTs, usually that means deleting the JWT from the client side (local storage, cookie, or whatever mechanism is used), and that is it.

You are talking about a specific concern of somebody stealing JWT (at some point when that is possible) and then logging in as user? Sure, that is a possibility, but I don't normally see that connected with the logout in any

[2022-04-21 12:33] #572 closed

[2022-04-21 13:01] Martinsos opened #578 "Add tracking of wasp version to the Wasp project"
Idea: what if we had a field in .wasp that specifies which Wasp version is used for building specific project? I think at some point we will want to have that for sure, right?
So when you want to run a Wasp project, you are sure you are not using wrong Wasp compiler version. It should be enough to just specify major.minor version -> then we know that it has to be that major version, and minor vers

[2022-04-21 13:05] Martinsos commented on #570
Discussion about an idea on how to get IDE to nicely treat special `@wasp` imports that we use in files in `ext/`:

@Martinsos :

@shayneczyzewski:

@sodic:

One problem that comes to mind is that the development process with Wasp is not strictly linear. In other words, you don't write the queries first, the .wasp file after that, and the components last. We do it all at once and the code is prett

[2022-04-21 14:59] Martinsos opened #579 "Wasp allows two routes with same name"

[2022-04-21 15:00] Martinsos opened #580 "In docs, for "Deploying web client" title in docs, there is no entry in the index on the right"

[2022-04-21 15:00] Martinsos opened #581 "Upgrade to React 17"
We should update Wasp to new React, React 17!

[2022-04-21 15:01] Martinsos commented on #183
@juanreyero also asked if we could support SSR in the future, for SEO.

[2022-04-21 16:54] #573 closed

[2022-04-21 17:59] sodic commented on #566
The only issue is the errors popping up in the console. No usability stuff really, just aesthetics (i.e., I wouldn't expect a site functioning properly to throw a 401 error every so often).

[2022-04-22 08:05] Martinsos commented on #566
That is a good point. Would you open a special issue for this then, focused on how to avoid this 401 hacky thing? And then we can close this one.

[2022-04-22 15:26] Martinsos opened #583 "Consider using `diagnose` Haskell library for printing compiler errors and warnings"
https://github.com/mesabloo/diagnose

A Haskell library that print nice compiler errors! Could be interesting for us at Wasp - we do already have relatively nice compiler error message printing, but this might be a way to make it even nicer!

[2022-04-24 21:28] Martinsos opened #584 "RFC: Support for Permissions (Access Control)"
# Support for Permissions (Access Control) in Wasp

## Motivation

When developing web apps, developers almost always need to implement some kind of access control, where they authenticate users/agents and then ensure that they only read data or perform actions that they are authorized for, nothing more.

We want to offer them an integrated, full-stack way in Wasp to handle most common use cases f

[2022-04-25 10:09] sodic commented on #574
Hm, I'm guessing the arguments would represent a list of named imports with optional aliases? Sure, why not (although I think we already have a specific type that captures this information).

I had in mind something along the lines of making the function in https://github.com/wasp-lang/wasp/blob/main/waspc/src/Wasp/Generator/JsImport.hs public (with possible rearrangement/renaming).

[2022-04-25 12:02] Martinsos commented on #574
Oh yeah sure we could reuse that! I just sketched something, even better if we can put more structure into it / reuse what we have.

[2022-04-25 12:21] #555 closed

[2022-04-25 14:00] #487 closed

[2022-04-25 18:09] shayneczyzewski commented on #198
While chasing down a different issue, I noticed this problem was likely caused by how we terminate the spawned Node jobs. It was addressed here: https://github.com/wasp-lang/wasp/pull/524 by terminating the _entire process group_, as the Node process spawned a child and grandchild process. No reoccurrences so far 🤞🏻 👍🏻

[2022-04-26 08:47] Martinsos commented on #381
We wrote tests for `weaken`: some of them testing dealing with dictionaries optional field, some testing super types. We didn't write all of them, but we did define all of them, so next time we should continue from there, filling in the remaining tests!

[2022-04-26 09:35] sodic commented on #544
Did you mean "in most, these two things happen together and the same mechanism is used to trigger them"? If so, I agree.

[2022-04-26 09:37] sodic commented on #543
We can take a look at this on Wednesday.

If we want optimistic updates and manual cache invalidation, we'll most likely need something that looks and works like react-query's `useMutation`, so using it under the hood does make sense.

[2022-04-26 09:41] sodic commented on #547
I took a look at the link and talked with Martin in person. RTK's system makes a lot of sense to us. React query does provide something similar with query keys, albeit in a less flexible way. Still, we can implement tags with react-query under the hood.

For example, we can start by introducing resources that aren't entities (perhaps with a separate Wasp declaration).

[2022-04-26 09:44] #543 closed

[2022-04-26 17:16] shayneczyzewski commented on #584
Overall, I think this is a very nice structure and plan, @Martinsos ! The requirements make sense, and the examples solidified their relevance. Here are a few thoughts on the next steps:

Under Requirement 2 you note that:

However, isn't this the proposal for next step?

- Just curious what you had in mind regarding the impracticality in the first note.

- Also, I wonder if we need go give people

[2022-04-27 13:01] Martinsos commented on #584
@shayneczyzewski thanks!

Deny everything by default -> by everything I meant pages in frontend, operations in backend, all entity fields, maybe something else. For example denying all entity fields by default would probably be impractical. Same goes for frontend pages. But operations, for them it could be ok.

Global flag -> yes that might be an option! Or we can make it a breaking change, right

[2022-04-28 08:57] Martinsos commented on #584
We had a nice brainstorming on this, here are some ideas/thoughts from @shayneczyzewski @sodic @matijaSos @maksim36ua :
1. RBAC is widely used, but if fine granularity is needed, it can become too limiting.
2. Usual mechanism is middleware that gets inserted to do access control logic (Ruby on Rails via class inheritance, Node (Express) via middleware functions, Python via decorators, ...).
3. Aut

[2022-04-28 09:45] philderbeast commented on #525
@Martinsos a different approach is bundling index-state with constraints when a project is buildable with a range of GHC versions.

[cryptol/cabal.GHC-8.10.7.config](https://github.com/GaloisInc/cryptol/blob/master/cabal.GHC-8.10.7.config)
[cryptol/cabal.GHC-9.0.2.config](https://github.com/GaloisInc/cryptol/blob/master/cabal.GHC-9.0.2.config)

[2022-04-29 07:58] Martinsos commented on #525
@philderbeast interesting, and then you use different config files for different GHC versions?
On our side problem are not GHC versions, but different platforms though.

[2022-05-03 08:54] sodic commented on #381
- Finished the tests for `weaken`, haven't started editing `weaken` yet: c5bcea3d356eafdf5974ea11370cc8d722479df1
- Removed the function `unify` and changed a portion of `inferExprType` to prevent it from weakening list element types: 3bc592f50e6861067b8ea171aece1c13315c9b38

[2022-05-03 18:34] #535 closed

[2022-05-03 18:34] #536 closed

[2022-05-03 18:57] shayneczyzewski commented on #530
We have completed **Phase 1, Step 1 - Async job DSL support** 🎉 . We tweaked the syntax a bit, and removed the idea of `.result()` that allows you to await a `Promise` for the job return value, as we could not envision meaningful use cases and it would complicate the design.  We also introduced executor specific functionality in the `SubmittedJob` result (e.g., `pgBoss.details()`), so we would not

[2022-05-05 12:46] realamirhe opened #587 "Add prettier plugin for the .wasp files"
I was curious that what formatter do you use for your .wasp files?

[code]

I tried to use prettier, but it seems that it is not supported in the first place.
https://prettier.io/docs/en/ignore.html

**Describe the solution you'd like**
It seems that formatting is a bit tricky for now. There are plans to develop LSP for Wasp in the next couple of months

**Describe alternatives you've considered**

[2022-05-05 14:24] Martinsos commented on #587
Thanks for opening the issue @realamirhe !

This is certainly something we want to look into.

Right now we have a wider-scope issue that is focused on providing better IDE experience in general: https://github.com/wasp-lang/wasp/issues/570 -> it mostly focuses on implementing an LSP server as a main idea, but is also open to different main or supplement ideas.

I have not yet investigated LSP as

[2022-05-05 15:42] realamirhe commented on #587
Yeah, as you mentioned is about the ease of usage.
Most js/ts developers use prettier these days, thus it would be ideal if we could have both the main (wasp) Analyzer/formatter and wrap it within a prettier plugin so coders can use their existing workflow to handle wasp formatting as well.

[2022-05-06 07:31] Martinsos opened #588 "When Wasp forwards CLI output from subprocesses, it is late one line with (stderr) label"
![image](https://user-images.githubusercontent.com/1536647/167086288-15550e0e-2f18-4c53-a826-cb9f0fb16851.png)

In the example above I ran `wasp db studio`, and as you can see, at some point `prisma studio`, which is being run in the background, printed some stuff first to stdout and then stderr.

What Wasp does is append `(stderr)` in front of any stderr output, to make it clear it came from stde

[2022-05-06 10:00] sodic opened #589 "Investigate TypeScript and TSX support in user-defined components"
Can we find a way to provide TypeScript support for user defined code? It should be far simpler than generating Wasp code in TypeScript (issue #143) but would still provide some value for our users.

[2022-05-06 13:09] sodic opened #590 "Improve support for project names"
Users can currently name their Wasp project using an arbitrary Wasp identifier:
[code]
However, our users have pointed out that this isn't flexible enough. For example, many people would like to name wasp projects using kebab-case. We should:
- definitely support kebab case
- optionally support arbitrary strings

The main problem with allowing arbitrary strings arises because we use the user-provi

[2022-05-06 16:37] Martinsos commented on #590
As a practical solution, we suggested we allow people to input valid Wasp identifiers with `-` in them. Then, we use such name to create project directory, and to name project in the .wasp, under the `app.title` field. However, for `app <identifier`, we use the version of that input where we convert from kebab-case to camelCase by just removing `-` and capitalizing the letters after it.

So, if us

[2022-05-09 13:08] Martinsos opened #591 "RFC: Support for declarative queries (binding queries to components/pages directly in .wasp)"
## Motivation

Queries are the main way in Wasp to fetch data and use it in view logic (Pages).

They are used as React hooks currently, which puts them somewhere between the imperative and declarative world.

Since dealing with result from queries as hooks in the React component can be complex, especially if there are a couple of them, and since they already have declarative nature, idea is that

[2022-05-10 13:00] shayneczyzewski commented on #591
Hey @Martinsos nice job! Enjoyed reading and thinking about all the possibilities :) The motivation and requirements really got me aligned to the needs here. As for the code examples, this area is newish to me, so take all the following with a grain of salt, but had some questions to further help me cement the ideas.

- Do we have ideas how we would handle pagination and other user-action driven i

[2022-05-10 18:26] shayneczyzewski opened #592 "Add a `teardownFn` for gracefully terminating things before shutting down"
We already have a notion of `setupFn`, and I think we should add its dual, a `teardownFn`. This would be helpful to quiesce things and ensure a graceful shutdown. For example, now that we have `job`s, it would be nice to shut the executor down before we shut
the NodeJS server down.

In most cases, this means trapping `SIGTERM` and delaying the exit until you clean up. **Note**: most container plat

[2022-05-10 21:15] sodic opened #593 "Add support for a client setup function"
We want to support a client setup function in Wasp files. The interface should match the currently existing server setup function:
[code]

[2022-05-11 09:52] Martinsos commented on #592
Interesting, makes sense!

I never thought about shutdown much, as I usually imagine that server dies suddenly and unexpectedly and we should always be ready for it :D. But it does make sense we should be thinking about it! The only tricky thing is that we can't really expect this function to execute, right? It might execute, but it is not guaranteed is it? So what would go into this shutdown func

[2022-05-11 10:50] sodic opened #594 "Fix redundant file generation in Wasp"
Wasp currently doesn't differentiate between `ext/*` files used by the client and `ext/*` files used by the server. Instead, it copies all of them to both generated source directories.

We should find a way to optimize this and avoid generating redundant files - they take up time, space, and interfere with the IDE support (e.g., JetBrains reports duplicate code).

[2022-05-11 12:51] shayneczyzewski commented on #592
Yeah, we definitely cannot guarantee execution of `teardownFn`, but sudden and unexpected termination should ideally not be the norm either. :D In general, it can happen of course, but giving application code the chance, when possible, to gracefully terminate other things is always nice. Nearly every hosted environment offers `SIGTERM` before forceful shutdown for this purpose, so it is very usefu

[2022-05-12 19:50] Martinsos commented on #592
Ok makes sense - so even if not guaranteed, it can still be pretty useful in practice!

[2022-05-13 10:42] Martinsos commented on #594
There are two main approaches I can think of:
1. Wasp figures out which files should go to client/server/both.
2. Dev tells Wasp which files should go to client/server/both.

It could also be some mix of both.

To do (1), we would need to do something smart -> evaluate files to some degree in order to figure out which file goes where, who is importing whom. The problem is, JS has possibility to do

[2022-05-13 16:11] shayneczyzewski opened #596 "Investigate some way to keep our documentation in line with actual versions used"
In our Haskell code, we specify NPM version info for our client and server dependencies. However, in our documentation we often need to link out to their docs. Let's try to find some way to make it easier for our docs to stay in line with our actual versions used.

Example: pg-boss
[code]

And in our documentation we have many links like: https://github.com/timgit/pg-boss/blob/7.2.1/docs/readme.md

[2022-05-13 16:30] #538 closed, assigned to shayneczyzewski

[2022-05-13 16:31] #537 closed

[2022-05-13 16:34] #530 closed

[2022-05-16 13:15] Martinsos commented on #570
Btw here is a bit of experimenting in the direction of Wasp via TS: https://github.com/wasp-lang/ast-wasp .

[2022-05-16 13:43] Martinsos commented on #570
Also, I bet there are some other projects out there with similar challenges like this! We should try searching for such projects and investigating how are they implementing their IDE support.

[2022-05-17 08:33] Martinsos commented on #381
We removed `unify` and its tests.
We updated the tests for `inferExprType` to ensure we don't weaken list element expression types.
Next step is refactoring the `weaken` function! And then taking care of all the TODOs.

[2022-05-18 11:43] Martinsos commented on #249
We tried doing this in the following PR https://github.com/wasp-lang/wasp/pull/260 but haven't solved it yet - it is still open!

[2022-05-18 11:46] Martinsos commented on #94
We did decent progress here https://github.com/wasp-lang/wasp/pull/206 but never finalized it -> let's continue from there once we are ready to continue with this issue!

[2022-05-18 13:52] Martinsos commented on #591
The question "Is this similar to React Suspense" was raised and I was unable to answer, so I should investigate "React Suspense" closer to see how they are related.

After debating on it altogether, we concluded that the idea makes sense in general. Still, its value is not yet completely clear -> does it bring enough value to be prioritized over other features?

Therefore, we concluded that we sho

[2022-05-18 14:05] Martinsos commented on #591
Hm that is very interesting -> so if they are coming through props, we can pass them to queries. The only thing we might have issues with are other react hooks that are not queries - we don't have a way to depend on them with our queries! I am not sure if we can even do that via pure React hooks though? Can useQuery depend on the useState or useEffect that is above it? It might be able to do so? V

[2022-05-18 14:58] craigmc08 commented on #591
The main concern I have with this feature is it adds a lot of complexity to the DSL. The feature does two things:

1. Compile-time knowledge of page/component query dependencies
2. Better ergonomics when working with multiple queries

(1) does not appear to be actually useful so far: we have no current or planned use case for this knowledge. Perhaps if, in the future, we find some situation where

[2022-05-18 18:43] shayneczyzewski commented on #576
If you get `unauthorized: authentication required` when trying to `docker push`, try `heroku container:login`.

[2022-05-19 09:41] realamirhe opened #597 "extra warning in the db migration process"
**Describe the bug**
I'm following the todo app, in ["Task Entity section"](https://wasp-lang.dev/docs/tutorials/todo-app/task-entity), I ran the following command for the first time,  but it shows me a warning to run it again.

[code]

**To Reproduce**
Follow todo instructions, step by step till Task Entity

**Expected behavior**
Not showing the warning of the command for the same command.

**Scr

[2022-05-19 12:23] shayneczyzewski commented on #597
Thanks for opening this issue @realamirhe regarding a redundant warning to run `db migrate-dev` _while_ you are actually running `db migrate-dev`. :) The short of it is we do our error/warning checks during compilation, and we compile before we run every command. So when you first migrate, it detects you have not yet run it during compilation before migrating, and hence the warning. But we can/sho

[2022-05-20 11:36] sodic opened #598 "Allow users to configure React Query through the client setup function"
We can use the client setup function (described in #593) to configure React Query. The API should look like this:
[code]
The function `configureQueryDefaults` should take an object that can be directly passed into the `new QueryClient` constructor: https://react-query.tanstack.com/reference/QueryClient.

[2022-05-20 11:43] Martinsos commented on #570
Nice idea by @realamirhe -> add the ability to jump between the Wasp definition of Operation (Query, Action) and JS definition of it.

[2022-05-20 12:49] #593 closed

[2022-05-21 12:10] modotte commented on #563
Hello! I would like to try tackling this issue. :slightly_smiling_face:

[2022-05-23 12:39] Martinsos commented on #563
Awesome @modotte I see you already went for it -> I am commenting in the PR :)!

[2022-05-23 14:50] Martinsos opened #602 "Implement a Wasp Github CI Action"
As per user's suggestion, we could implement a Github CI Action that builds your Wasp app.

We should investigate if other web frameworks have similar actions and see how they do it as a starting point!

[2022-05-24 11:53] Martinsos commented on #381
We started looking into `weaken`, to consider if we need it at all.

We traced where it is used, and found that its only place of usage is currently in `checkStmt`, where it is used on the typed expression of the declaration.

The question was, is this needed? Can we just skip this part and instead of doing the weakening, which updates the types in typed expression tree to match the wanted type, c

[2022-05-24 14:06] craigmc08 opened #603 "File changes not detected by wasp start in WSL2 when using the Windows filesystem"
**Describe the bug**
`wasp start` running in WSL2 for a project on a Windows file system does not automatically recompile and hot-reload the web page when making changes.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a WSL2 OS and navigate to a directory on the mounted C: drive (`/mnt/c/`).
2. Make a new wasp project
3. Run `wasp start` in the project directory
4. Change a file in the

[2022-05-24 15:57] #563 closed, assigned to nobody

[2022-05-24 20:55] craigmc08 opened #604 "RFC: Wasp IDE Integration"
# Motivation

One of the main point points in Wasp currently is the lack of editor integration while developing a Wasp project. This manifests in two separate ways:

1. No editor language features for `.wasp` files

2. Code generation breaks the existing JS IntelliSense in editors

While there does exist a Wasp extension for VSCode (https://github.com/wasp-lang/vscode-wasp), it is out of date with

[2022-05-25 16:41] Martinsos opened #605 "`lodash` dependency in frontend is redundant, let's remove it?"
@realamirhe noted following:

So let's check if `lodash` is redundant, and if so, let's remove it! Or, if we use only part of it, let's import only that part.

[2022-05-25 16:48] Martinsos opened #606 "Add support for code scaffolding?"
Many frameworks have possibility to quickly kick-start common pieces of code by them creating a bunch of starting code for you.

Is this something we want to do? We in general want to avoid boilerplate, so if we need to do scaffolding, question is, did we already fail? But in reality there will always be a bit of "boilerplate" so maybe a bit of scaffolding is ok.

I imagine it could be used to do

[2022-05-25 16:49] Martinsos commented on #606
@realamirhe was interested in this as a potential feature! https://discord.com/channels/686873244791210014/808446354585550878/976782466482331728 .

[2022-05-25 16:54] shayneczyzewski opened #607 "Improve access to Entities in Jobs"
Currently, the only way to access Entities in Jobs is to directly import `prisma` and operate on them directly. Here is an example from Waspleau where I made a helper function utilized by a Job, but you can imagine a Job doing this directly:

[code]

The other option would be to import Actions and call them. However, it would be better if we had a nicer way to associate Entities and Jobs.

Taking

[2022-05-25 17:06] Martinsos commented on #607
I had this idea of Job being defined via Action, instead of via ExtImport. So then Entities would again be injected via `context`.

But, you mentioned that Jobs serialize everything, all the args to them, so if they also need to serialize `context`, we might be in a problem.

Hmmmmm. So that means that job can import complex stuff, but it can't receive it as an argument? What if we didn't pass con

[2022-05-25 17:17] shayneczyzewski commented on #604
Great writeup, Craig! 🥳 I think you covered the current situation well, and I like the idea of the directions proposed. Indeed, these sound like two distinct approaches, but both required from a DX perspective. (As you rightly said, developing apps in Wasp should not feel like a step _backwards_ while developing!) I like starting with the Wasp language server, as it has fewer unknowns and would ad

[2022-05-25 18:50] craigmc08 commented on #604
My opinion is that when you open your editor to a Wasp project, tooling should just work with no extra steps. We could run `wasp start` from the extension, but then the user couldn't run it in their terminal (port conflicts) to see the error messages outputted by wasp easier.

Didn't know about this actually, could be useful for some of the alternative approaches if the main one doesn't pan out.

[2022-05-25 18:55] craigmc08 commented on #604
Thanks for the feedback @shayneczyzewski!

I think we may be able to get `Go to Definition` for imports in `.wasp` files working without talking to the virtual filesystem, since the import statement already tells us which file and symbol in the source code to find the definition.

The virtual filesystem is fully separate from the generated project as currently designed, so it wouldn't need `wasp s

[2022-05-26 08:45] Martinsos opened #608 "Generated package.json is not perfectly formatted"
The package.jsons we generate are not perfectly formatted -> this doesn't affect anything really, but it would be nice if we had it formatted correctly! We might consider using some additional step to format it via prettier or similar after generation, or we could ensure during generation it is correctly formatted.

[2022-05-26 08:52] Martinsos opened #609 "Support for static assets in Wasp project"
Right now, if you have a static asset like an image or similar that you want to use in Wasp app, you can put it in `ext/` and import it via import statement in your JS code, and that works.

However, there might be some benefits to having a more explicit mechanism for it.

@realamirhe commented when I asked what he thinks about current solution (ext/ + JS import) vs smth like static/:

Conclusion:

[2022-05-27 17:52] Martinsos commented on #604
As I said earlier, awesome work @craigmc08 ! Really excited about the whole thing and there are many different approaches that you described, I am confident we will figure out a good solution among all these ideas.

Below I first re-iterate the problem and general idea for solutions based on your RFC @craigmc08 , to check that I got stuff right + maybe give a bit different perspective / phrasing.

[2022-05-31 18:46] shayneczyzewski commented on #584
### Permissions recap

@Martinsos and I spent some time brainstorming the permissions problem from multiple angles over a few sessions, and we did some prototyping with CASL as well. To recap, the challenge was to provide developers with an easy to use way to define permissions at the API level (Operations) and the Entity level, and determine what should be in Wasp DSL vs. what should be in JS. We

[2022-05-31 21:47] Martinsos commented on #607
Good questions about `setupFn` and possible middleware!

What is good with `context` is that it is easy for us to modify the Entities as needed + code is easier to test (entities are injected, not imported).
But, it is not always easy to have context.

On the other hand, if we provide direct ways to import Entities, then they can always do that and we can't force them to use Entities from the `con

[2022-06-01 15:22] shayneczyzewski commented on #607
Yep, good points. I am torn as well :) Will give it more thought too! Thanks

[2022-06-02 10:06] Martinsos opened #615 "Inform Wasp CLI users about new update available"
In case there is a newer version of Wasp CLI available, we should let users about it!

I am not sure what is the best frequency of such informative message -> I don't think it should be printed at every `wasp` call because it could get tedious quickly, especially if you don't want to upgrade at the moment and are ok with keeping the current version.

Actually, if it is a bug fix / patch -> so chan

[2022-06-02 10:43] Martinsos commented on #615
This is related with #163 .

[2022-06-02 10:52] Martinsos opened #616 "Make process of updating Wasp nicer"
Right now, if users want to update Wasp CLI, they don't know how to update it!
We have no information about it.

Also, actual way to update Wasp is to run installer again, with `curl -sSL https://get.wasp-lang.dev/installer.sh | sh`, and then if you already have Wasp installed, it will tell you to run it a bit different to overwrite those files.

What we should probably do is:
1. Provide a piece o

[2022-06-02 10:56] Martinsos opened #617 "Have Wasp pick ports for hosting client and server (e.g. 3000, 3001) dynamically during local development"
During development, could we have Wasp pick port numbers dynamically? The idea behind this is, that if something is already running at 3001 and/or 3000 ports, Wasp would be able to pick some other ports on its own, instead of crashing and saying the ports are taken. That way you could for example run two Wasp projects at once! Or Wasp project and smth else that is targeting these ports (and many t

[2022-06-02 10:57] Martinsos commented on #617
Somewhat related to #146 .

[2022-06-02 11:30] Martinsos opened #618 "Reduce boilerplate of similar Wasp Operations"
@cursorial 's suggestion to maybe find some way to reduce repeated boilerplatish code of defining similar Wasp Operations to something shorter is interesting!
I am not sure what would the best way be, but I imagine two main ways:
1. Some sugar or macro mechanism, that expands from shorter syntax into the full-blown syntax. This would happen at wasp-lang level, and no new functionalities would need

[2022-06-02 12:09] shayneczyzewski commented on #618
From DIscord:

I agree `@martinsos` , the suggestion by `@static void` of reducing boilerplate was a good one. I think some syntactic sugar during pre-processing to expand it (possibly when we do including other wasp files into a larger one) is probably the right way to go. Macros sound interesting, but tricky.

If we do add a new abstraction for CRUD, going back to my favorite examples of Rails/P

[2022-06-02 13:08] craigmc08 commented on #618
An alternative to the proposed syntax that might fit better with existing syntax:

[code]

This might not even have to be de-sugared/use macros, because it sort of looks like the `<call>` statements that were dropped from the DSL redesign proposal (see https://github.com/wasp-lang/wasp/files/6478938/wasplang.pdf). I'm not sure yet if its worth it to bring this syntax construct into the language fo

[2022-06-02 13:32] Martinsos commented on #618
@craigmc08 this is also pretty interesting!
But as you said, then we have unnamed actions, so it is tricky to figure out their name -> we can use some conventions, but that feels a bit too magical to me.

Macros sounds fun, although they also sound complex / scary to implement / maintain.
I imagine they could work like smth similar to:
[code]

[2022-06-02 14:38] Martinsos commented on #584
Makes sense to me!

Just to recap a bit, I would say we are looking at couple of main directions right now:
1. General middleware for Wasp Operations, that can then also be used for ACL/permissions logic.
2. We integrate CASL library with Wasp and allow devs to use CASL to define their access control rules (checks), while Wasp then based on some conventions / rules will make sure to apply those on

[2022-06-02 18:04] #597 closed

[2022-06-02 18:55] shayneczyzewski opened #620 "UI becomes unresponsive after server reload from code change"
**Describe the bug**
@sodic mentioned in Discord that the browser UI would become unresponsive, mouse stays an arrow permanently, and no clickable elements would be clickable after making a code change to project files and the server reloaded. Can reproduce 100% of the time.

I was able to reproduce too, and tried to bisect it down to find the offending commit, which was: https://github.com/wasp-l

[2022-06-02 19:07] shayneczyzewski commented on #620
People seem to say it could be a `react-scripts` v4 issue.

[2022-06-03 20:38] #620 closed

[2022-06-07 08:38] sodic commented on #381
We started working on a new branch (branched out from main): https://github.com/wasp-lang/wasp/tree/filip-martin-weaken. The main idea is to first simplify (or completely get rid of) `weaken` and its logic. That is what the new branch is for. It also gives us an isolated place to test out whether our simplification plan works with the evaluator (Martin explained most of our concerns in the previou

[2022-06-07 09:59] #580 closed

[2022-06-07 10:10] Martinsos opened #623 "[cross-issue] Update our analytics to account for gitpod"
https://github.com/wasp-lang/wasp-bot/issues/3

[2022-06-08 14:01] sodic commented on #573
Here's an old comment I forgot to post.

I think we misunderstood each other on this. The main point was "there's no way for the backend to know whether a received token has been invalidated (i.e., logged out) without keeping state on the server". After you log out/invalidate a session, the session id is no longer valid authentication for anything (as opposed to a stateless JWT which can still be

[2022-06-08 17:41] shayneczyzewski commented on #573
I tend to come from the session + cookie camp as well. :D Your articles were pretty compelling @sodic , and I particularly liked the image lol. Here is another one that is often cited: https://developer.okta.com/blog/2017/08/17/why-jwts-suck-as-session-tokens

We could decide as a first step to just put the user id into a cookie (similar to our use of jwts). This will help with security (being coo

[2022-06-09 08:37] #598 closed

[2022-06-09 14:01] Martinsos commented on #573
Ok guys sold :D!

In the past I never used JWTs completely stateless -> normally I would just store user id in them, nothing more, and then just use them for authentication, not for authorization or smth more. I would fetch data from the user profile (`User` model) when needed (usually on login).
From what I understand from the articles (read them!), cookies are safer than local storage, so that c

[2022-06-09 14:17] shayneczyzewski commented on #573
Sounds good! I think going cookies is a good approach, and like you mentioned we can even decide to just use cookies and store the JWT or user id (the session data) in there and not require any server/db session storage, so it will function similar to what we have now. But with that prisma library it may not be too bad to just assume we store the session id in the cookie and the actual session dat

[2022-06-14 10:21] Martinsos opened #629 "Update prisma to 3.13 in order to have support for SSL 3.0"
Prisma doesn't work for SSL 3.0: https://github.com/mikecao/umami/issues/1081 .
They fixed this in latest version, 3.13.

Let's update Wasp so that people don't hit this problem with Wasp!

[2022-06-15 10:16] Martinsos opened #631 "Wasp fails to use correct Prisma version when using node 16.15.1"
It for node versions up to 16.15.0, but fails when using 16.15.1 .

We noticed this happening both in CI (manifesting as `mv: cannot stat 'migrations/*foo': No such file or directory`) and also had it reported from users and then managed to reproduce it locally both on Linux and Mac.

It has to do with Wasp failing to use correct prisma version, due to apparently `npm` not seeing locally installed

[2022-06-21 13:00] h4r1337 commented on #323
Do you mean something like this [https://github.blog/2008-12-19-github-ribbons/](https://github.blog/2008-12-19-github-ribbons/)?

[2022-06-21 13:24] h4r1337 commented on #323
I think I can do that...
Is that also required for all pages? like in `example/thoughts` there is a main page and login/signup pages so, should I add that to all of the pages or just the main page?

[2022-06-21 14:19] Martinsos commented on #323
Sounds good, pls do give it a try!
Hmmm, I am not sure actually, I haven't thought about it. It might be a bit tricky to do it for all pages in Wasp, since we don't have an easy way to do "layouts" yet. You could do it by having your own wrapper in which you wrap all of the React components though.
What do you think is better, having it only on homepage or on all pages? I am a bit tempted to have

[2022-06-21 23:54] shayneczyzewski commented on #323
Hey gang, I added this simple example banner a while back: https://github.com/wasp-lang/wasp/blob/a0b7477d19ff1ab70215ade454a81406720c6997/examples/waspleau/ext/WaspExampleHeader.js that was integrated into to these sample apps:
- https://waspleau.netlify.app/
- https://waspello.netlify.app/

Feel free to use it as inspiration, or throw it away :D

[2022-06-23 09:47] michelwaechter opened #640 "Consider replacing Webpack with Vite"
**Is your feature request related to a problem? Please describe.**
Nearly every developers knows about the issues with webpack and its compiling methods. It's also a bit slow and hot reload doesn't work as brilliant as it could be. Please consider to replace webpack with vite.

**Describe the solution you'd like**
Please replace webpack with vite as fast as possible. Performance is much better. Co

[2022-06-23 09:54] Martinsos commented on #640
Haha, love your Wasp + Vite = Love :D!

Btw, since mentioning alternative build tools, I heard about parcel.js (https://parceljs.org/) and that looked very interesting, since it seemed to be very declarative and low on config -> any thoughts about parcel as a build solution?

[2022-06-23 09:58] michelwaechter commented on #640
Personally i've never tried. But there are many developers who switched from Parcel to Vite, like in this [Github Discussion](https://github.com/vitejs/vite/discussions/5290).

[2022-06-23 10:21] Martinsos commented on #330
It is especially important to provide a good migration workflow and docs for production! Issue #215 is related to this.

[2022-06-23 10:22] Martinsos commented on #215
Two commands they added in Prisma 3.13.0 (https://github.com/prisma/prisma/releases/tag/3.13.0) are also interesting:
- `migrate diff`
- `db execute`

They are worth checking out while we are figuring out how to best deal with migrations!

[2022-06-23 10:49] Martinsos opened #641 "Expand our Prisma support (enum, type, other dbs, ...)"
Wasp is heavily using Prisma for the DB layer of web app, but it doesn't yet utilize everything that Prisma offers. Here we can track some of the bigger items that we recognize would be cool to support in the future when we are ready / feel the need for them:

1. Support for `enum` and `type` declarations in PSL. `enum` we should certainly add, while `type` is for now used for MongoDB, so probably

[2022-06-23 10:50] Martinsos opened #642 "Have Wasp have top level "data schema""
Right now we have Entities, which are a way to specify a top level data schema, but we very likely want to push that to another level, in order to unlock deeper understanding of many parts of Wasp.

Ideally we would be able to also define pieces of data that are not necessarily persisted in the database, and then use those on different places, e.g. to describe the return types of Operations, or ev

[2022-06-23 10:55] Martinsos commented on #642
A bit of previous thinking I have done in this general direction.
"Item" is a concept of an "aggregate", which is an entity from the db with some stuff embedded into it -> a logical whole that you deal with around the code. We don't have that in Wasp yet, but have been seriously considering having it at some point. It acts as a central unit for performing CRUD operations.

# Item vs Entity vs Data

[2022-06-23 12:18] #629 closed

[2022-06-23 13:08] Martinsos commented on #629
I am a bit afraid of this as then they can really mess things up if they start using versions that we haven't tested with, right?
But it doesn't sound compelling that they can fix things themselves.
Although, I imagine if there is some serious issue, we can release the new version equally fast as it would take to inform them to upgrade it on their own. So this is more for them to fiddle with stuff

[2022-06-23 14:58] shayneczyzewski commented on #629
Thanks for upgrading it and releasing! I will create an issue with the idea just for future consideration. It may be the case that a user for a particular configuration has an issue with some version that we do not want to roll out globally, perhaps? Dunno... but will just add an issue for future in case. Thanks!

[2022-06-23 15:03] shayneczyzewski opened #645 "Consider allowing users to specify some NPM dependency versions themselves"
**Is your feature request related to a problem? Please describe.**
We recently had an issue where a user needed OpenSSL3 support and it required a Prisma upgrade. They had to wait until we upgraded, tested, and cut a new release.

**Describe the solution you'd like**
It could be interesting if we allowed users to set some NPM dependency versions locally, perhaps via environment variables. This may

[2022-06-23 18:40] shayneczyzewski opened #646 "Should we pin our NPM versions down even tighter?"
**Is your feature request related to a problem? Please describe.**
Today, an unlucky user hit an error because `nodemon` had a bad deploy for about 30 minutes. Here is what they saw:

[code]

I was able to reproduce on a fresh project, but my old project still worked. This led me to believe it was an NPM dependency upgrade issue.

We specify the following version for `nodemon`: `^2.0.4`. Before th

[2022-06-24 11:39] Martinsos commented on #560
@michelwaechter said, regarding support for Tailwind:

[2022-06-24 11:41] Martinsos commented on #560
Here is the workaround that @shayneczyzewski came up with for Tailwind for now:

Ok, so it does work if you use the CDN as a workaround for now. In a brand new project, update main.wasp like so (adding to head):

[code]

and then you can use CSS classes, like so in MainPage.js:

[code]

We do still ship that default index.css file though, so if something isn't quite working that should be kept in

[2022-06-24 12:46] h4r1337 commented on #323
I am not familiar with wrapper components, can I add it manually for now?
will think of some way to inherit from a base layout component later...

[2022-06-24 12:50] Martinsos commented on #323
Go for whatever you feel comfortable with and we can then discuss it in the PR!

[2022-06-24 14:54] shayneczyzewski opened #647 "Produce more user-friendly error when DATABASE_URL envar is not set but app is using PostgreSQL"
**Is your feature request related to a problem? Please describe.**
A user asked a question when running Waspello about why it wasn't starting. We do show a lot of error output, parts of it indicating Prisma cannot connect due to a missing envar, but we should make it clearer.

**Describe the solution you'd like**
The CLI should produce a very clear error message about the missing envar and link to

[2022-06-24 14:59] shayneczyzewski opened #648 "Update Todo app docs to use a 401 HTTP response status code instead of 403 when user not signed in"
**Is your feature request related to a problem? Please describe.**
In our documentation for the Todo app: https://wasp-lang.dev/docs/tutorials/todo-app/auth we have snippets that return 403 when the user is not logged in.
![unknown](https://user-images.githubusercontent.com/523636/175562243-65718e47-a7b2-4ac3-adb4-913582a260bf.png)

**Describe the solution you'd like**
We should update that to 401

[2022-06-27 10:57] Martinsos opened #650 "Wasp is missing glibc 2.29 on Ubuntu 18"
Ubuntu 18.04.6

![image](https://user-images.githubusercontent.com/1536647/175925762-c79a2d20-d858-4d83-ac13-d00656947228.png)

The solution to this is us building/compiling Wasp statically during CI, so it does not depend on other libraries. Right now we build it mostly statically but it still depends on some libraries (it is somewhat dynamic) -> we need it to be completely static.

[2022-06-28 02:06] hoanghiaquyen opened #656 "Split file main.wasp"
how i can split file main.wasp. i see file main.wasp in real world too length to maintaination.

Thanks.

[2022-06-28 08:16] sodic commented on #646
Yes, this is a tricky one.

I think it makes sense to determine what we do with versions on a case-by-case basis, depending on how reliable/up-to-date they are.

Of course, we could check what other dependency-rich tools did (e.g., react-scripts). It's probably something along these lines.

[2022-06-28 09:02] Martinsos commented on #646
Oh there is another thing here -> lockfiles!
So by using lockfiles, we get both -> they get stability, because they know changes will not suddenly change under their feet, while on the other hand, when they explicitly want to update deps, they can, and those will be tested by them and in dev and in CI but since they are locked all is good.

So in any case, we don't want versions to update on their

[2022-06-28 09:13] Martinsos commented on #656
Hi @hoanghiaquyen , yes that is certainly a plan! There is an issue open for it here: https://github.com/wasp-lang/wasp/issues/315 . We haven't got to it yet, but are planning to do it for Beta or a bit later -> as you said, in real world apps one file is certainly not enough.

[2022-06-28 09:13] #656 closed

[2022-06-28 11:42] #576 closed

[2022-06-28 11:55] shayneczyzewski commented on #646
Yeah, agree we should probably survey other projects @sodic as a research input into this.

In the lockfile case @Martinsos, do you mean we ship the `package-lock.json` files somehow? Do you think we will hit any OS-specific issues like we did with the Haskell ones?

[2022-06-28 13:39] Martinsos commented on #656
Thanks @hoanghiaquyen , we will do our best to make that happen and looking forward to interacting more with you :)! Btw here is a way to sign up for our newsletter, we send one email per month with updates: https://wasp-lang.dev/#join-the-list .

[2022-06-29 08:46] Martinsos commented on #645
Interesting idea!
I am a bit worried about the potential for them to mess things up this way -> they can pick a version that is not tested by us but it seems like it works and then it will bite them at some later point. What if they deploy to production with it?
Maybe it is ok solution for them to wait for us to release a new version with updated stuff?
I guess the question is, would this be givin

[2022-06-30 08:11] Martinsos commented on #640
Another user (@MetaMmodern) suggesting we switch to Vite:

[2022-06-30 13:48] shayneczyzewski commented on #645
Good questions! I think the wait and see approach makes sense. If we see this continuing to happen and we can think of safeguards, maybe it makes sense. Otherwise, we can just try to keep up to date as best we can ourselves.

[2022-06-30 14:25] shayneczyzewski opened #659 "Consider removing lodash as a core Wasp dependency"
Filip noticed that we only use `lodash` in a single file to perform `_.merge` of configs.

[code]

We might consider removing it. It's a big dependency anyway and we can easily implement this ourselves. It's also pretty popular and removing it would allow our users to decide on the version they want to use on their own.

[2022-06-30 21:17] Martinsos commented on #659
Sounds good to me, nice catch!

[2022-07-02 08:26] modotte commented on #650
Hello! I believe Ubuntu 18.04 requires wasp to be compiled at minimum with [glibc 2.27](https://packages.ubuntu.com/bionic/libc6) for it to execute properly (I didn't test it, so I'm not 100% sure).

[2022-07-02 15:19] Martinsos commented on #650
Hm interesting @modotte ! We could try and go with that. I wonder if we are losing anything by not compiling on latest version of Ubuntu? Probably not.
But, static binary still sounds tempting to me, as there are probably some other deps also that might cause problems! I get what you say with size, but do you think that actually has impact in practice? Right now it is 50MB -> ok that is not small,

[2022-07-04 01:07] modotte commented on #650
I'm okay with either way and don't think the executable size increase won't be a massive problem for most people these days. Also, I'd agree with the potential missing required external deps (libgmp comes to mind) with the current, partially dynamic binary that could be solved by having a full, static one instead.

[2022-07-04 10:01] sodic commented on #559
We could consider splitting Wasp into two folders:
- `.wasp/` - This one remains hidden and contains the build artifacts. Users to not include it in version control.
- `wasp-info` (with a hopefully better name) - A visible directory containing all the persistent stuff (`package-lock.json`, migrations, and anything else we need in the future). Users would include this one in their version control.

[2022-07-04 10:14] matijaSos opened #663 "[example/Waspello] Add Postgres instructions to README"
Waspello is using Postgres but it isn't noted anywhere, so it is confusing for the users trying to run it. We should note it in Waspello's README and link to the docs where it is explained how to setup and run Postgres.

[2022-07-04 14:48] Martinsos commented on #663
It would be even cooler if Wasp somehow nicely warned you about this and maybe provided some instructions!

[2022-07-07 07:39] Martinsos commented on #559
For grouping all the files that we generate but need to be part of the
project anyway and be committed? Sounds good! Maybe a bit cooler name but
this one is also not so bad!

On Mon, 4 Jul 2022, 12:01 Filip Sodić, ***@***.***> wrote:

[2022-07-10 20:26] rubyFeedback opened #665 "[Documentation] Consider adding a short subsection how to call and use other languages"
Hey guys,

wasp is in javascript I guess.

I have various ruby but also python scripts that output text.

Could you guys show how we could integrate these via wasp? For instance
a route such as "foobar1", and this could call a .rb file, or ruby code. If this
is possible perhaps you could add a new subsection to the main documentation
on the left side or so, where links are, e. g. "other programmin

[2022-07-11 14:33] Martinsos commented on #650
Regarding building Wasp as static binary:
- it seems that `glibc` is not designed to be statically linked and it can cause problems.
- here is interesting discussion about it with some suggestions (thanks @shayneczyzewski for finding this): https://github.com/haskell/haskell-language-server/issues/2431

Some interesting comments I noticed in discussion above:

I like the best the plan with Alpine

[2022-07-13 13:37] matijaSos opened #666 "[Documentation] Compare Wasp to other solutions (e.g. Next.js) and explain when/why to use what"
With a lot of frameworks and different names (full-stack, center-stack, JAM, serverless) it's becoming hard for developers to compare one technology against another and understand when to use what.

It could be helpful to add to our docs comparisons to few of the most popular libs/frameworks in a similar space (e.g. Next.js). I like how Blitz did it: https://blitzjs.com/docs/why-blitz

[2022-07-13 16:41] shayneczyzewski opened #667 "Change Node base image version in Dockerfile to 16"
We are currently specifying Node 14 in our Dockerfile: https://github.com/wasp-lang/wasp/blob/main/waspc/data/Generator/templates/Dockerfile#L2

We should upgrade that to `FROM node:16-alpine AS node`

[2022-07-18 08:21] sodic opened #670 "Solving Flickering UI During Optimistic Updates"
## What do I mean by Flickering UI?
Many comments will discuss the flickering update problem. Here's the demo of it. You can find the explanation after the video.

https://user-images.githubusercontent.com/22752307/177961469-68e77b92-585f-40de-89d1-3f3d42faf4a8.mp4

### Explanation

1. The user sets a task to "Done."
4. The web app sends a request (`R1`) to the server, but it takes a long time to

[2022-07-18 08:57] #665 closed

[2022-07-18 08:59] Martinsos commented on #631
Fixed by @shayneczyzewski ! We just changed how we install prisma, which then avoided the error for us. So a workaround.

[2022-07-18 08:59] #631 closed

[2022-07-18 09:04] #558 closed

[2022-07-18 09:04] #556 closed

[2022-07-18 09:04] #549 closed

[2022-07-18 09:05] Martinsos commented on #522
We also got feedback that ext/ is a bit of a weird name. Makes sense! We should probably name it somehow differently.

[2022-07-18 09:05] #499 closed, assigned to nobody

[2022-07-23 14:54] shayneczyzewski opened #675 "Allow configuration of frontend web-app env vars via the main `.env` file"
**Is your feature request related to a problem? Please describe.**
Right now, we only copy the `.env` file into the server directory. This means to set frontend env vars, you have to set them when invoking the Wasp CLI command. So for example, if you want to run a Wasp app on a different port, you can set `PORT=4040` in your `.env` file to get the server running on 4040, but to have the web-app se

[2022-07-24 14:03] Martinsos commented on #675
Aha interesting!
I think when I was doing .env I just tried to do the simplest solution that offers value, which was at that point an .env file for server, which sets env vars during development.
We could use it also for frontend I guess, why not? It would still be only for development of course. So we would copy .env file to fronend also, and we would need to make sure it is picked up - I think C

[2022-07-26 14:27] shayneczyzewski commented on #648
Sounds great, thanks @h4r1337! It should all be located under this directory (which includes instructions for how to run docs locally): https://github.com/wasp-lang/wasp/tree/main/web Feel free to open a PR when you are done. 🚀

[2022-07-26 18:04] #648 closed

[2022-07-27 14:31] h4r1337 opened #678 "Update `examples/todoApp` to use a 401 response instead of 403 as explained in the tutorial docs"
## Issue Description
Right now the example todoApp still returns `403` error when user not signed in. But in the docs: https://wasp-lang.dev/docs/tutorials/todo-app/auth the snippets are updated to 401

## Solution
Update that to `401`

[2022-07-27 16:42] shayneczyzewski commented on #461
Your recap above was super helpful to remind me of what we were trying to do here @Martinsos, so thanks! :D

Did some initial research today, and it seems `prisma db pull` will overwrite our schema. We could move it somewhere as a backup, then diff and revert, etc. but I think I found an easier way to see if DB matches schema.

If we are in a situation where we do not know the state of the databas

[2022-07-27 19:16] #678 closed

[2022-07-29 11:39] Martinsos commented on #461
Sounds good to me @shayneczyzewski , and I also appreciated my old comment, it got me up to speed quickly :D!

Just to check -> what are our use cases, when do we care about syncing stuff and which stuff? So, let's say they pull some changes into the project -> they now have some migrations in their wasp project, but database might not be reflecting those. Also there might be no migrations in the

[2022-08-01 09:27] preshetin commented on #675
Hi there, I'd like to take this one.

Two facts:
- CRA already comes with [`.env` file support](https://create-react-app.dev/docs/adding-custom-environment-variables/). Once we put it in web app root dir, React scripts will load it. So there is no need to add additional support.
- Simply copying `.env` to the web can lead to unexpected result. If it contains `PORT` variable then both server and fr

[2022-08-01 09:49] preshetin commented on #675
As per third approach, an .env file can look like this:

[code]

I'm new to Haskell so I'm not sure if such kinds of expressions are best for implementation.

[2022-08-01 14:36] shayneczyzewski commented on #675
Hi @preshetin! Thanks for wanting to take lead on this one, definitely feel free to run with it!

I like the idea of (1) to start with, personally. I also agree it would be nice even if we split client/server if we had consistent Wasp-specific envar prefixes, and not be tied to `REACT_APP_` if possible. Not sure if CRA has an override for that prefix we can tweak.

Last thing to consider is if, in

[2022-08-03 11:33] Martinsos commented on #675
Awesome analysis @preshetin !
I agree that option (1) is maybe the easiest to start with. I also agree it would be cool if we can remove `REACT_APP_` requirement.
Different envs are something we could consider, and I think dotenv library and also CRA have quite something to say about that so we can possibly see what others do and model that. But I hope we can postpone that for now.
As for more adv

[2022-08-04 17:29] preshetin commented on #675
Thanks @shayneczyzewski and @Martinsos for sharing this.

Looks like we have consensus on (1) approach. I feel like I'm ready to prepare a PR implementing this.

Some thoughts on the implementation:
- If we want compiler to consume  `.env.server`, not `.env` file, it means it will be **breaking change**. Existing Wasp users have to manually update  `.env` to `.env.server`. To avoid breaking change

[2022-08-04 19:46] shayneczyzewski commented on #675
Awesome, @preshetin! 🥳  I think in general, we are not opposed to breaking changes given our stage when they make sense. You may also want to rename the existing `dotEnvFile` to indicate server while you are adding something like `clientDotEnvFile` to AppSpec. Excited to see what you come up with!

[2022-08-11 16:22] craigmc08 opened #686 "Better error messages when quoter close tag doesn't match"
Currently we have a `QuoterDifferentTags` error for parsing, but this error will never actually be outputted:

In the `quoterDifferentNestedClose` test case, we specify that we can include a different closing quote inside of a quoter and end up with a successful parse. This means that we only decide to end a quoter block when we encounter a closing quote with the same tag. So the `quoterUnmatchedT

[2022-08-11 16:22] craigmc08 opened #687 "Refactor abstract parser"
Current abstract parser is not the most readable. @Martinsos and I have discussed a couple ideas for improving it:

## Parser combinator for CST -> AST conversion

We could do something similar to what we did for CST with having a small library to support a nicer looking eDSL, so code could look something like:

[code]

We could pull in the [parser-combinators](https://hackage.haskell.org/package/

[2022-08-11 16:23] craigmc08 opened #688 "Wasp lang dev tooling"
This issue organizes all issues and features relevant to dev tooling for the wasp language.

### Wasp Analyzer

- [ ] #687
- [ ] #686
- [ ] Update typechecker so it can run on wasp source code containing syntax errors in it
- [ ] Update typechecker to be able to report multiple type errors

### waspls

- [ ] Merge waspls cabal project into the waspc cabal project
- [ ] Bundle waspls with waspc ins

[2022-08-11 20:14] shayneczyzewski opened #691 "How best to add emails for use in Auth?"
We currently lack the ability to do email verification and password reset for the `EmailAndPassword` Auth method. This RFP-lite proposes a direction to solve this.

We could leverage [Nodemailer](https://nodemailer.com/about/) for the underlying ability to send emails using different email providers (e.g., Sendgrid). The assumption when email is used is this would always be an external concern. Wa

[2022-08-16 12:21] shayneczyzewski opened #693 "Parser does not correctly handle escaped quotes inside strings"
**Describe the bug**
If you have a .wasp file with escaped quotes inside a string, like this:

[code]

when you `wasp compile`, the resulting HTML file will still have those escape characters, like this:

[code]

**Expected behavior**
They should be un-escaped properly during generation, and instead result in an HTML file like this:

[code]

[2022-08-17 17:53] #607 closed

[2022-08-18 14:18] shayneczyzewski commented on #691
Conversation recap: Do a bit more research on how other popular libs solve. Wait for sum types? In meantime can just print a warning in validation step. Figure out how this impacts social logins security.

Can we configure current model to username + password instead, leaving notion of "email" to require validation. Maybe we have to first reconsider what `emailAndPassword` means for us, should it

[2022-08-19 03:50] h4r1337 opened #697 "Add SECURITY.md for wasp"
Currently we don't have a [SECURITY.md file](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository)
 which describes the security policy in a way that is more accessible to GitHub users.

This will help wasp to recieve more bug reports and add the repo to bug bounty platforms like [huntr.dev](https://huntr.dev)

[2022-08-19 07:47] Martinsos commented on #697
Sounds good, let's do it! Do we have an idea of what this file should look like, some good examples? Do you want to take this on @h4r1337 ?

[2022-08-19 09:39] h4r1337 commented on #697
We can enable the [security policy via GitHub](https://github.com/wasp-lang/wasp/security). Basically it should include a way to report the vulnerability(email), rather than creating an issue.

[2022-08-19 14:31] shayneczyzewski commented on #691
This RFC may not be needed anytime soon if we move forward on this: https://github.com/wasp-lang/wasp/pull/696

[2022-08-20 18:07] pt2121 commented on #590
Can I take this?

[2022-08-22 10:06] h4r1337 commented on #323
Just saw that this issue is not yet closed. Can we close this?

[2022-08-22 12:40] sodic commented on #590
@pt2121 Sorry for the late response, the answer is "yes" :). I know see that you've already made a PR.

Great! Will check it out ASAP.

[2022-08-22 19:29] shayneczyzewski opened #701 "Add e2e test for a complex app with all features"
**Is your feature request related to a problem? Please describe.**
Originally, the e2e golden tests were meant to test basic sequences of CLI command outputs on disk. They then started testing specific features, like Jobs (but via a hacky `printf` command line mechanism for creating/updating files).

However, we'd like to have some way to make sure all the kitchen sink features remain stable, and

[2022-08-23 11:24] Martinsos commented on #667
@shayneczyzewski have we maybe fixed this already, it seems to ring a bell when I think about it?

[2022-08-23 11:55] shayneczyzewski commented on #667
This is slotted to be taken care of with the linked google authn PR. That will be updated for the `UsernameAndPassword` refactor after merge and hopefully should be ready for a final round of review in a few days 👍🏻

[2022-08-23 12:01] #693 closed

[2022-08-23 12:25] Martinsos opened #702 "During `wasp start`, Have Wasp list Wasp warnings/errors after underlying services have updated"
Otherwise they get lost in all the output from `npm start`s of web client and API server.

So what we want is to detect that underlying services are done with their updating / restarting, and summarize all Wasp warnings / errors by printing them at that moment, when nothing will push them away immediatelly.

Not sure how we can do that -> either web client and API server have some hooks in their `

[2022-08-23 15:08] Martinsos commented on #323
Yes you did this one, let's close it!

[2022-08-23 15:08] #323 closed

[2022-08-24 14:35] shayneczyzewski commented on #691
Update: we renamed `EmailAndPassword` to `UsernameAndPassword`. This will give us time to add this new feature in, but not directly tied to auth itself. I will leave this open but we will likely not need to do anything here for a bit (and the issue itself may need updating after this rename).

[2022-08-25 09:40] Martinsos commented on #697
Thanks @h4r1337 for initiating this! I did it with this commit: https://github.com/wasp-lang/wasp/commit/0473a6e320d4452ef82762ecddf1bf9a1ccdde91 .

[2022-08-25 11:03] sodic opened #703 "Codesandbox Template"
Investigate how we could get a Wasp template into Codesandbox.

As @realamirhe pointed out on Discord, Codesandbox has recently released a beta version with Docker and support, so we should be good to go: https://twitter.com/codesandbox/status/1549412034831388674?s=20&t=SWfypsaw1CZH5XrTUEFSuQ

[2022-08-25 11:05] Martinsos commented on #703
Oho interesting! @matijaSos @maksim36ua thoughts, would this be valuable pursuing soon or not yet?

[2022-08-25 11:18] h4r1337 commented on #697
Can you change that to a `security@` mail instead of `hi@`. It would be better in the security context...
If there's any other problems, then `hi@wasp-lang.dev` is just fine for now...

[2022-08-26 12:20] #566 closed

[2022-08-26 13:59] Martinsos commented on #697
That is a good idea but I would rather have smaller number of emails, otherwise they easily explode if we create new one for every purpose - so let's keep `hi` for now and if that becomes hard to manage we can always switch to `security`!

[2022-08-26 15:30] h4r1337 commented on #697
Okay then. Closing the issue now :)

[2022-08-26 15:30] #697 closed

[2022-08-31 10:33] Martinsos commented on #688
Regarding JS/TS intelissense in user created files in ext-src/ -> we explored this a lot in https://github.com/wasp-lang/wasp/issues/604 . We kind of concluded that the best solution for now might be to "explain" to editor via jsconfig.json and by possibly adjusting position of some of our genreated files so that it all "looks good" to the editor and that JS/TS IDE can mostly work on stuff then.

[2022-08-31 10:33] Martinsos commented on #604
We talked about this more on the side -> conclusion was that (2) + (5) is probably the best immediate step forward because it is relatively simple to do and already gives us a lot of value.

[2022-08-31 14:32] Martinsos opened #709 "Organize code and means of distribution of Wasp Language Server"
Right now it is a cabal package/project next to waspc/.
Do I leave it there? Or merge it into waspc as separate lib/exe? Or even merge it with waspc exe?
If it is all same exe, distribution is same as now. If not, we need to distribute it alongside waspc.
Also, we need to make sure to build waspls on CI/CD. And how do we version it if separate exe?

Figure out all this and implement it!

- [ ] The

[2022-08-31 14:40] Martinsos opened #710 "Enable JS/TS IDE support for js/ts files in ext-src in Wasp project"
Check https://github.com/wasp-lang/wasp/issues/604 for main discussion. We should implement (2) + (5) approach.

[2022-09-02 09:54] #590 closed

[2022-09-06 18:36] #575 closed

[2022-09-06 18:36] #667 closed

[2022-09-08 11:56] sodic opened #717 "Update React Query to version 4"
Since the creation of #542, React Query 4 has become stable. We should update as soon as possible. There are several breaking changes, but I went through the list and nothing will seem to affect any of our functionalities.

The migration should be fairly straightforward following their guide: https://tanstack.com/query/v4/docs/guides/migrating-to-react-query-4

[2022-09-08 13:15] Martinsos commented on #717
Sounds good!

[2022-09-08 14:34] shayneczyzewski opened #719 "Unable to deploy to Heroku due to `sodium-native` bug"
We are currently unable to deploy Wasp apps to Heroku, as one of our dependencies (`secure-password`) has a new bug in one of its dependencies: https://github.com/sodium-friends/sodium-native/issues/160

The current workaround is to add this dependency to your .wasp file:
[code]

[2022-09-13 18:52] shayneczyzewski opened #723 "Update React to version 18, plus a few other React libs"
Once React 18 support hits a few more popular libraries and is used by most of the ecosystem, we should look into updating to it.

Since this update will likely be a breaking change, we should also consider updating:
- ~react-scripts to version 5~ we are using Vite now
- React Router to version 6

[2022-09-13 18:54] shayneczyzewski opened #724 "Update Prisma to version 4"
This will likely break some of our sample projects and users, but we should eventually get up to the latest. It would be good if we can identify some of the most common items that will cause migrations to fail and create helpful docs for them, beyond what Prisma provides.

[2022-09-15 15:59] shayneczyzewski opened #726 "RFC: Customizing the default server Dockerfile"
# Overview
Currently, when users run `wasp build`, Wasp will write a Dockerfile to:
[code]

The contents of this file are based on a [template](https://github.com/wasp-lang/wasp/blob/main/waspc/data/Generator/templates/Dockerfile) and can change based on what features they are using (e.g. Prisma, or Auth with NPM deps requiring patches).

The problem is users cannot modify this file during generat

[2022-09-15 23:07] shayneczyzewski commented on #726
FYI @Martinsos @sodic as time allows would love your thoughts on the options here. Thanks!

[2022-09-16 12:58] Martinsos commented on #726
@shayneczyzewski nice analysis!

Ok, so the general idea makes sense to me -> we would basically let them add stuff at the bottom of our dockerfile.
Let me quickly go through different ideas I can think of:
1. Concatenate commands to the Dockerfile we generate -> you presented this one above.
2. Let them provide their own Dockerfile, as a replacement for our Dockerfile.
3. Provide some kind of "sm

[2022-09-16 14:12] #461 closed

[2022-09-16 14:27] h4r1337 commented on #340
Isn't this issue fixed by #649 ?

[2022-09-16 17:45] Martinsos opened #728 "Examples links in docs should point to `release` branch, not `main` branch."

[2022-09-19 12:16] Martinsos commented on #340
You are right, thanks @h4r1337 !!! Closing it.

[2022-09-19 12:16] #340 closed

[2022-09-20 13:24] sodic commented on #251
Fixed in #554

[2022-09-20 13:24] #251 closed

[2022-09-20 14:40] shayneczyzewski commented on #517
A bit more context:

We use `FileDraft`s as the primary mechanism to write files to disk in the generated Wasp output project (under `.wasp/out`). There are a few different types, but the main operation they all do is `write` where they sync information to disk. https://github.com/wasp-lang/wasp/blob/main/waspc/src/Wasp/Generator/FileDraft.hs#L30

Wasp is smart, and keeps track of when `FileDraft`

[2022-09-20 18:16] Martinsos commented on #616
A bit of pointers here: installer script we use to install wasp is here, in its own repo: https://github.com/wasp-lang/get-wasp .

[2022-09-20 18:18] Martinsos commented on #605
We removed it from frontend!

[2022-09-20 18:18] #605 closed

[2022-09-20 18:27] Martinsos commented on #578
Some initial direction pointers:
1. Look into AppSpec/ and extend the AppSpec so it has `waspVersion` in it.
2. In Wasp compilation step (so somewhere in Analyzer probably, or close to it), we would want to check if Wasp version matches the version in `waspVersion`. I am not 100% sure if we would want to do that in cli/ or in src/, but we do smth for start and then see from there.

[2022-09-20 18:32] Martinsos commented on #287
Solved, we put them all in the same repo.

[2022-09-20 18:32] #287 closed

[2022-09-20 18:33] Martinsos commented on #256
NOTE: installer is now in separate repo: https://github.com/wasp-lang/get-wasp .

[2022-09-20 18:36] Martinsos commented on #293
Clsoing this one as we solved most of the issues from it!

[2022-09-20 18:36] #293 closed

[2022-09-21 13:11] shayneczyzewski commented on #726
Quick update: I am going down the path of getting access to the Dockerfile during AppSpec construction. The good news is we already have it! :D If we require the Dockerfile to be under the @ext path, which makes sense, then it will automatically be available in AppSpec as one of the `externalCodeFiles :: [ExternalCode.File]` (which we can later lazily load the contents of). 🥳

So, we just need a w

[2022-09-21 14:03] Martinsos commented on #726
@shayneczyzewski all sounds reasonable, nothing to add!

Only other option would be putting Dockerfile somewhere else instead of ext/, for example in the root of the project. We could say if there is Dockerfile there, then we use it.
Ok thinking about this now I just also realized that what might be a bit tricky is if you put Dockerfile in ext/, we will copy it both to client and server as we copy

[2022-09-21 14:13] shayneczyzewski commented on #726
Ah, yes, good point @Martinsos. If we had it under @ext it would be copied to both places. It wouldn't hurt anything, but wouldn't be what users expect either, so probably best to keep it where we do for .env files and leave Dockerfile at root to avoid special file processing rules. Then, we wouldn't even need to add it to their .wasp file either. Ok, I'll look into that route instead, thanks!

[2022-09-21 15:40] #544 closed

[2022-09-21 15:40] #670 closed

[2022-09-21 15:40] Martinsos commented on #726
@shayneczyzewski I am good with both directions, but I agree maybe this one is a bit simpler for the start! And we can always make it more flexible if needed.

[2022-09-23 12:53] Martinsos opened #730 "Make it easy to use different ports (than 3000 and 3001) during Wasp development"
Right now, Wasp has it hardcoded to use 3001 port for api server (backend) and 3000 for web app (frontend). If those ports are already taken, `wasp start` will fail.

This causes problems in different scenarios:
1. User already has something else running on ports 3000 / 3001.
2. User wants to run two Wasp apps at the same time in parallel.

There are two main solution approaches:
1. Allow user to

[2022-09-23 12:55] Martinsos commented on #730
Supersedes https://github.com/wasp-lang/wasp/issues/617 and https://github.com/wasp-lang/wasp/issues/146 .

[2022-09-23 12:56] Martinsos commented on #617
Superseded by https://github.com/wasp-lang/wasp/issues/730 .

[2022-09-23 12:56] #617 closed

[2022-09-23 12:56] Martinsos commented on #146
Superseded by https://github.com/wasp-lang/wasp/issues/730 .

[2022-09-23 16:33] InfiniteVerma commented on #517
I'd like to work on this.

[2022-09-23 16:48] shayneczyzewski commented on #517
Awesome @InfiniteVerma feel free to give it a go and ping if you have any questions or hit any snags!

[2022-09-25 04:44] InfiniteVerma commented on #517
I suspect is no test case for duplicate destination paths. Can one be added for this scenario?

[2022-09-25 05:06] InfiniteVerma commented on #588
I'd like to work on this.

[2022-09-26 09:19] Martinsos commented on #588
Hi @InfiniteVerma , thanks for the interest! Let me konw if you need any assistance/guidance!

[2022-09-26 11:29] shayneczyzewski commented on #517
Hey @InfiniteVerma I see you already have a PR, nice! I will take a look at that today. There is no test case for this, as we typically add the new test cases alongside the new code that fixes it. I can point you in the right direction and we can come up with the best place to test your additions. Thanks!

[2022-09-26 15:52] Martinsos commented on #728
Hey @lelouchB , sure, go for it! Let me know if you need any pointers.

[2022-09-26 19:13] Martinsos opened #734 "Rethinking Wasp code organization"
Related to https://github.com/wasp-lang/wasp/issues/710 .

So far we have made decisions in Wasp like:
1. Code generated by Wasp is put in .wasp dir.
2. Code generated by Wasp is imported in JS files as "@wasp/...".
3. Generated code is structured in a certain manner (queries are under queries/, actions under actions/, ...).
4. User code is organized under ext/ directory and then just copied into

[2022-09-28 14:14] maksim36ua opened #735 "Hacktoberfest 2022 issues list"
**Welcome, [Hacktoberfest](https://hacktoberfest.com) participants!**

This is an entry point for anyone who wants to contribute to Wasp during Hacktoberfest. Keep in mind this is not an exhaustive list, and there are more issues to be found if you look for them directly in the [list of issues](https://github.com/wasp-lang/wasp/issues).

1. Check [CONTRIBUTING.md](https://github.com/wasp-lang/wasp

[2022-09-30 04:55] lelouchB commented on #728
Hey @Martinsos
Do all the links in `web` directory should point to release ?

[2022-09-30 17:20] Martinsos commented on #728
@lelouchB hmmmm, hard to say off the bat.
So `release` branch represents whatever was published on webpage/blog/docs, while `main` branch is the latest progress however it is not yet out there.
So mostly, I would expect that webpage should point to the `release`, but maybe in some special situations we do want it to point to `main` instead.

This PR is only about `examples` though, so with those t

[2022-10-02 09:17] h4r1337 commented on #663
@matijaSos I can work on this. I will add the README first.

 @Martinsos I think it is better to create a separate issue for that...

[2022-10-03 04:48] SGI-CAPP-AT2 commented on #338
Can Get Task List @matijaSos ?

Thanks,
ShGI

[2022-10-03 10:41] sodic opened #741 "Make an advanced section of our Todo app tutorial and add optimistic updates"
[Wasp 0.6.0.0](https://github.com/wasp-lang/wasp/releases/tag/v0.6.0.0) introduced support for optimistic updates via the `useAction` hook (documented [here](https://wasp-lang.dev/docs/language/features#the-useaction-hook)).

We want to include a section on optimistic updates into our tutorial. The current tutorial tries to avoid being too complicated and we'd like to keep it that way. Therefore,

[2022-10-03 23:53] makinox commented on #384
Hello, can I take this task?

[2022-10-04 00:53] ussgarci commented on #647
Hello, I'd like to work on this issue.

[2022-10-04 04:15] codingmickey commented on #659
Can I try on this issue?

[2022-10-04 04:16] codingmickey commented on #462
I would love to work on this

[2022-10-05 04:35] makinox commented on #429
Is any problem if I work on this?

[2022-10-05 13:01] ussgarci commented on #151
Hello, I'd like to work on this issue.

### My Plan
- [ ] understand how `signup` and `login` currently work
- [ ] determine (w/ the help of wasp devs) if we want to update documentation or refactor
- [ ] implement
- [ ] review/iterate

[2022-10-06 00:36] makinox commented on #429
Right now signup errors are showing like this, I think is helpful enough, or you think it has to be more specific? Or replace alerts with a label tag below the input?

<img width="444" alt="Screenshot 2022-10-05 at 7 29 57 PM" src="https://user-images.githubusercontent.com/24579681/194187606-205d07cc-e9f5-4eaf-8543-522945918000.png">

[2022-10-06 01:00] makinox commented on #348
Hello, any problem if I work on this?

## My plan
- Add the rule in the generated package.json to ignore ESLint messages in the `.wasp/out` folder

I would love to implement `.eslintignore` but that would require more planning with you and install an additional library to extend configurations

[2022-10-06 01:48] ussgarci commented on #151
Hello @Martinsos, :wave: I wanted to check with you if I should update the documentation for `signup()` to resolve this issue or make it automatic to be logged in after `signup()`.  Thanks!

[2022-10-06 10:52] Martinsos commented on #429
That actually sounds good enough! I guess we must have improved it in the meantime. Should we close this issue then @makinox ?

[2022-10-06 11:31] Martinsos commented on #659
Sure feel free to go for it!

[2022-10-06 11:41] makinox commented on #429
Yes I think so. 🙌👍

[2022-10-06 11:49] #429 closed

[2022-10-10 06:13] codingmickey commented on #659
before I tried it's done by someone, accept his pr 👍🏽

[2022-10-10 06:14] codingmickey commented on #462
is it okay to just pr before asking for working on it?

[2022-10-10 11:50] Martinsos commented on #462
Sure! It is good though to write you are working on it, just so the others know, plus it can be good to ask upfront about certain approaches that might be less clear, to make sure PR has a better chance of getting accepted.

[2022-10-10 14:12] ankeshp03 commented on #332
Hi, can I work on this issue?

[2022-10-11 13:32] sodic commented on #348
@makinox Hey, sorry for the late reply.

No problem at all, quite the opposite :)

I like the approach and I've reviewed your PR. Let me know what you think.

[2022-10-11 18:10] shayneczyzewski commented on #151
Hey @ussgarci! Thanks for making the PR on this one. I think you found the correct spot to add that `login` function call in `signup`. Nice!

However, after thinking about this issue a bit more, I was starting to wonder if perhaps overloading `signup` in this way is perhaps _not_ desirable (or at least, should be configurable). I can imagine in the future a dev may want to add some sort of email c

[2022-10-12 00:16] ussgarci commented on #151
You make a good point about this behavior potentially excluding some users who might have particular use cases for `signup` and `login` behavior.  I do like the idea of making it configurable with a default parameter,  something like `signup(userFields, autoLogin=false)` that way the side effect of also logging in the user would have to be explicitly stated.  That said, part of me thinks that the

[2022-10-12 09:54] #462 closed

[2022-10-12 10:14] sodic commented on #151
Hi guys, discussing whether this behavior should be configurable is definitely interesting (I also think it should).

But as far as I can tell, we already support login after signup by default, but on the [client](https://github.com/wasp-lang/wasp/blob/4020295740989b3a3b717fac9ebfc807ce07d47a/waspc/data/Generator/templates/react-app/src/auth/forms/Signup.js#L19).

We can discuss whether we should

[2022-10-12 11:39] #663 closed

[2022-10-12 13:30] shayneczyzewski commented on #151
I think at this point I'd probably just vote for a doc update saying `signup` does not `login` and keep them totally separate. I'm not sure that adding a config arg gives us much more help beyond just making the additional separate call if a user needed to. Sounds like @ussgarci is in the same camp. That sound ok to you @sodic and @Martinsos? Thanks all!

[2022-10-12 16:11] Martinsos commented on #151
Yup, I think you all together analyzed it really well, and agree with the latest conclusions, which is let's keep them separate then, and just add the docs that clarify the situation!

[2022-10-12 16:56] ShabanaNaik commented on #338
Hello @matijaSos  @maksim36ua.  I would like to work on this. I am a new contributor  to open source. But I have a experience working  with web development. Your help would be greatly appreciated!😊

[2022-10-13 04:30] rishi-kai21 commented on #741
hi @sodic , I would like to contribute to this issue. Please assign it to me.

[2022-10-13 04:31] rishi-kai21 commented on #237
hi @Martinsos , I would like to contribute to this issue. Please can you assign it to me please :)

[2022-10-13 10:21] EmmanuelTheCoder commented on #717
@sodic @Martinsos will this also count for hacktoberfest contribution?

[2022-10-13 11:51] sodic commented on #717
Hey @EmmanuelTheCoder, go for it!

I've just added the label.

[2022-10-13 11:55] sodic commented on #741
Thanks @rishi-kai21, go for it!

[2022-10-13 12:10] sodic commented on #151
Sure, and just to emphasize one more time: We are already logging users in after they sign up, but this is done [on the client](https://github.com/wasp-lang/wasp/blob/4020295740989b3a3b717fac9ebfc807ce07d47a/waspc/data/Generator/templates/react-app/src/auth/forms/Signup.js#L19).

[2022-10-13 12:15] shayneczyzewski commented on #151
Yep! 👍🏻

[2022-10-13 12:19] EmmanuelTheCoder commented on #717
Hi @sodic, I am not familiar with Haskell so I'd prefer a non-Haskell task.

[2022-10-13 12:34] EmmanuelTheCoder commented on #717
I'm fluent in Typescript, JavaScript, Node (Express.js), React, Next.js, and MongoDB

[2022-10-13 13:53] sodic commented on #717
Sure! Give me some time (a day max) and I'll get back to you.

[2022-10-13 14:04] EmmanuelTheCoder commented on #717
No problem.

[2022-10-13 16:02] shayneczyzewski opened #752 "Add support for case-insensitive usernames"
**Is your feature request related to a problem? Please describe.**
Currently, the `username` field for `auth` is just a String that is used as-is, and thus, is case-sensitive.

**Describe the solution you'd like**
It would be nice for UX if we had some support for making them case-insensitive so that "shayne" and "Shayne" would be considered the same username.

**Describe alternatives you've consi

[2022-10-13 16:46] #726 closed

[2022-10-13 17:48] rishi-kai21 commented on #291
hello @Martinsos I would like to work on this issue , I'm very new to haskell and it would act as a stepping stone in letting me know more about the related subject . Please assign it to me :)

[2022-10-14 09:05] Martinsos commented on #256
That would be awesome, pls go for it!

[2022-10-14 09:10] Martinsos opened #754 "Update Wasp CLI bash completion list"
Wasp's bash completion support is implemented here: https://github.com/wasp-lang/wasp/blob/1995ccdb9d9dd6d17d880e298b9b1305ca016994/waspc/cli/src/Wasp/Cli/Command/BashCompletion.hs .

In the meantime we added some new commands to Wasp, and so it got somewhat outdated.
We should update it to correctly reflect current commands that Wasp CLI has.

[2022-10-14 09:11] Martinsos commented on #256
I also just created this connected issue: https://github.com/wasp-lang/wasp/issues/754 .

[2022-10-14 09:42] sodic opened #756 "Ensure the REACT_APP_API_URL and WASP_WEB_CLIENT_URL env vars are valid URLs"
Wasp users can control their backend server's URL by setting the `REACT_APP_API_URL` to a desired base URL.

We should check whether they specified a valid, absolute URL. To see what I mean, try running the app with the following two settings:
[code]

In such cases, we should detect the error and warn the user with an appropriate message. Let's start by implementing this inside JavaScript (i.e., d

[2022-10-14 09:43] sodic commented on #717
How about this one: https://github.com/wasp-lang/wasp/issues/756

[2022-10-14 11:31] Martinsos commented on #237
Sure @rishi-kai21 ! Small warning: this one requires a bit of research and testing as mentioned in the description!

[2022-10-14 11:43] Martinsos commented on #291
Sure @rishi-kai21 , pls go for it! This is more of a GH Actions task than Haskell, but it does touch Haskell a bit!

[2022-10-14 12:09] matijaSos commented on #338
hey @ShabanaNaik of course! Let me know how I can help? Maybe it would be best if you tried to run the code first and then lmk once you get stuck. Did you manage to successfully run Waspello?

[2022-10-14 12:13] ShabanaNaik commented on #338
Hello, @matijaSos. Thank you for the opportunity 😊. I haven't tried running waspello yet but I would let you know if I am stuck anywhere or require any other help.

[2022-10-14 12:59] ussgarci commented on #151
Hey everyone :wave: as per our discussion I've opened a new PR to update the documentation to clarify the behavior of `signup`.  I also closed my previous PR.  Thanks for all the input!  :+1:

[2022-10-14 14:10] #151 closed

[2022-10-14 14:44] sodic opened #759 "Fix compiler warnings in tests"
At least two of our tests (`WebAppGeneratorTest` and `ValidTest`) report warnings during compilation. You can see them by executing `cabal test waspc-test` in the _waspc_ directory.

We should fix them.

[2022-10-14 14:53] Martinsos opened #760 "`wasp new <dir>` can't initiate new project if directory already exists"
This is problem in the case where user created a new repo on github, with just README, checked it out, and now wants to start new Wasp project in it.

I suggest we make is to that if directory already exists, Wasp happily creates project in it, not caring about existing content of the directory.

[2022-10-14 14:54] sodic opened #761 "Update the docs for server setup function"
Our docs currently list cron jobs as [an example use case for the server setup function](https://wasp-lang.dev/docs/language/features#setupfn-extimport-optional-1). Since Wasp now supports jobs, we should come up with a more pedagogical example (e.g., you can use the server setup function for pinging a different server or something more meaningful).

Also, because cron jobs are probably the first

[2022-10-14 14:59] Martinsos opened #762 "Wasp CLI -> Improve happy path for new user"
It still feels to me as if, when I start a new app, I feel a bit lost. I am not sure why, since we do give instructions + point to tutorial, but I feel like we should also potentially provide more instructions in the CLI itself. Maybe smaller steps, smaller bites?

There is also another thing -> getting back into project you haven't worked on for a bit. I also feel a bit lost there. It would be ni

[2022-10-14 15:07] Martinsos commented on #709
Done!

[2022-10-14 15:08] Martinsos commented on #606
+1 for scaffolding auth!

[2022-10-14 15:26] Martinsos opened #763 "On Getting Started page in docs, emphasize there is vscode extension for Wasp -> people miss it"

[2022-10-14 18:16] rishi-kai21 commented on #741
hi @sodic , if you could please help me in understanding the fact that  'a section on optimistic updates into our tutorial' is needed in the readme.md file if I'm not wrong? Please let me know whenever you feel like .

[2022-10-14 18:17] rishi-kai21 commented on #237
thank you for letting me know :) ,your help is much appreciated . I'll work on this sooner and let you know .

[2022-10-14 18:31] rishi-kai21 commented on #291
hello @Martinsos  , i was having a little trouble finding the article you have attached to the issue . As soon as I click on it ,I get transported to the github discussions page and not to the article you're referring . Would you please let me know how can I access that article or better tell me a little more about the issue and how we should tackle it .

[2022-10-14 20:49] EmmanuelTheCoder commented on #756
This is great. I'd like to take this on @sodic

[2022-10-14 20:49] EmmanuelTheCoder commented on #717
Looks great. Kindly assign me to the issue.

[2022-10-15 10:52] ussgarci commented on #759
Hello :wave:, I'd like to work on this.

[2022-10-15 14:16] ussgarci commented on #754
Hello :wave:, I'd like to work on this.

[2022-10-15 14:33] ussgarci commented on #730
I'd like to work on this issue.

[2022-10-16 23:22] sodic commented on #741
Hey, [this](https://wasp-lang.dev/docs/tutorials/todo-app) is the tutorial I meant (I've updated the original comment too, the link wasn't there before :)). The source for this page is [here](https://github.com/wasp-lang/wasp/blob/main/web/docs/language/features.md).
We should add an extra tutorial section with advanced features, one of which is optimistic updates support. Optimistic updates are c

[2022-10-16 23:22] sodic commented on #756
Go for it, good luck!

[2022-10-16 23:32] #759 closed

[2022-10-16 23:34] sodic commented on #759
You're on a roll, two PRs in two days. Thanks!

[2022-10-17 14:59] #517 closed

[2022-10-17 15:08] Martinsos opened #767 "Instead of Heroku being default deployment method, find smth else (Render?)"
Heroku is not free anymore, so we want to find another deployment method we will recommend as the default method. Maybe render.com .
This will in the biggest part come down to writing docs for deploying to this newly picked hosting provider.

[2022-10-17 15:09] Martinsos opened #768 "Upgrade Wasp to Node 18 LTS once it comes out (in Oct '22)"

[2022-10-17 15:15] Martinsos opened #769 "Have Wasp enforce unique username on Prisma schema level"
We currently do it on the JS level.

[2022-10-17 15:20] ArnabDey1543 commented on #763
can you assign me this job, will try make it more prominent!!

[2022-10-17 15:22] Martinsos commented on #763
Sure, pls go for it!

[2022-10-17 15:37] EmmanuelTheCoder commented on #763
Hi @Martinsos I sent a PR for this already #770

[2022-10-17 23:31] #332 closed

[2022-10-18 08:45] Martinsos commented on #762
@matijaSos made a good observation here, that he would love to have something like `wasp status`, that tells you the current situation: for example, let's you know if you need to migrate. Maybe something else. I think this might be the same command as `wasp info`? Or are they a bit different? `wasp status` is cool as a name due to being so similar to `git status`, so people get the idea of it.

[2022-10-18 08:48] Martinsos commented on #688
It would make sense to also include AppSpec validation errors into LSP. Right now those are not made a part of it. Only analysis is done, but app spec validation is not. We would want to do it and show those also.

[2022-10-18 08:49] Martinsos commented on #688
Also, it would be great if Wasp compiler would inform me about wrong ext/ import paths! It could check during compile time if those exist.

[2022-10-18 08:57] Martinsos commented on #688
Another thing: It would be great if we could get Wasp LS to the level where it offers autocompletion for dictionary fields! Right now it doesn't do that.

[2022-10-18 09:25] Martinsos commented on #291
@rishi-kai21 ah sorry, the link must have become obsolete!
I did quick googling, found this, both answers look relevant: https://stackoverflow.com/questions/70708306/github-actions-run-step-job-in-a-workflow-if-changes-happen-in-specific-folde?rq=1 .

I am happy to share more info, but I am not sure what you are interested in -> I believe the initial comments already covers the basics? Let me know

[2022-10-18 09:51] Martinsos commented on #754
Sure @ussgarci go for it! This one should be not too hard if you go with updating to the current state, but could get significantly harder if you go the route of refactoring code so it is constantly up to date -> I assume you are doing the first thing?

[2022-10-18 09:53] Martinsos commented on #730
@ussgarci go for it!
Which approach are you interested in taking?

[2022-10-18 11:25] EmmanuelTheCoder commented on #767
Is Render free?

[2022-10-18 12:36] ussgarci commented on #754
Hey @Martinsos , yeah my PR just updates to the current state.  Sorry for not being explicit.

[2022-10-18 15:20] EmmanuelTheCoder commented on #756
Hi @sodic, I'm new to the codebase so I'm still trying to figure out everything and where to make the necessary changes. I'd appreciate any guidance I can get from you in this regard.

[2022-10-18 17:55] Martinsos opened #773 "Make Wasp's CLI bash completion list update dynamically based on the commands Wasp CLI implements"
Wasp's bash completion support is implemented here: https://github.com/wasp-lang/wasp/blob/1995ccdb9d9dd6d17d880e298b9b1305ca016994/waspc/cli/src/Wasp/Cli/Command/BashCompletion.hs .

When we add some new commands to Wasp, this often gets outdated because we forget to update it.

Idea therefore is to refactor it so that it automatically updates based on the commands we have in the CLI! I am not su

[2022-10-18 18:01] Martinsos commented on #767
Seems to be! Check this out: https://render.com/free . 750h free per month, which is 31.25 days of computation per month.

[2022-10-19 07:44] #754 closed

[2022-10-19 07:47] sodic commented on #756
Hey, I recommend creating and running a simple Wasp application (you can use something from the examples directory, e.g., `todoApp`) and looking at the generated code in the `.wasp` directory.

Think about where you'd want this function to be placed inside the generated project. Implement it there, test it out. After you're satisfied, all that's left is editing the appropriate template in the `was

[2022-10-19 07:48] Martinsos commented on #256
We added mention of `completion` to the help of Wasp CLI.

[2022-10-19 10:58] #763 closed

[2022-10-20 03:56] NeoLight1010 commented on #578
Hello! I would like to work on this issue. I was already checking the code and I think I have a good idea of where to start :smile:

[2022-10-20 17:22] Martinsos commented on #578
Hey @NeoLight1010 !
Sure, go for it! The error message sounds fine, maybe we can tweak it a bit in the direction of "Current Wasp project requires Wasp version ... but you are using ...".

Before you get too deep into implementation, I would maybe advise you to check with me on how you would approach it -> so if you could explain to me shortly in which pieces of code would you make changes and how

[2022-10-20 20:35] farayolaj commented on #336
Hello @matijaSos
I'll like to work on this.

[2022-10-21 01:54] NeoLight1010 commented on #578
Thank you for assigning the issue to me :D

About the implementation, I think the function `validateAppSpec` would be a good place to validate the compiler's version, as that's where most other field-specific validation is:

https://github.com/wasp-lang/wasp/blob/dc036f56cdc31a43a1d84fe96f7add174c34fd8b/waspc/src/Wasp/AppSpec/Valid.hs#L29-L40

I also thought about doing it in `analyzeWaspProject`

[2022-10-21 15:54] Martinsos commented on #578
@NeoLight1010 nice analysis!

I am in with the idea of having smth like
[code]
in AppSpec, that makes sense to me, and as you said opens some space for further configuration. If needed, we can in the future take it out, but for now this sounds ok.
We would make that required field.

I would maybe quickly check with the rest of team here though
@shayneczyzewski @sodic @matijaSos , what do you think

[2022-10-21 16:34] Martinsos commented on #647
Thanks for all the effort so far @ussgarci , unfortunately I have to reopen this one as I completely forgot about .env files! So, we have .env file which can also be used to provide env vars, and if they use that to specify DATABASE_URL, which in 99% cases they do, we will generate warning message that shouldn't be generated!

Solutions:
1. In Haskell, make sure to read that .env file also while d

[2022-10-22 19:02] ussgarci commented on #647
Hey @Martinsos, good catch! I would prefer to implement solution #1.

[2022-10-24 04:02] NeoLight1010 commented on #578
After some discussion on Discord, we agreed to use `app.waspVersion` instead of `wasp.version`, as the current implementation doesn't allow unnamed entries in the `.wasp` file, and adding support for that would require a lot of knowledge of the codebase.

[2022-10-24 12:22] sodic opened #783 "[Realworld] Uncontrolled input on login"
Our realworld example app throws the following error when logging in:
[code]

We should fix it :)

NOTE: We've recently solved a [similar error](https://github.com/wasp-lang/wasp/pull/720#issuecomment-1246828596), looking at [the fix](https://github.com/wasp-lang/wasp/pull/727) might help you.

[2022-10-24 12:25] sodic opened #784 "[Realworld] Unmounted component warning after logging out"
Our Realworld example app sometimes throws the following error after the user logs out:
[code]

We should fix it :)

NOTE: We've recently solved a [similar error](https://github.com/wasp-lang/wasp/pull/720#issuecomment-1246828596), looking at [the fix](https://github.com/wasp-lang/wasp/pull/727) might help you.

[2022-10-24 12:50] shayneczyzewski commented on #578
All this sounds good @Martinsos and @NeoLight1010 I think doing something like `app.wasp.version` until we can pull it out top makes sense. 👍🏻

One other thing to keep in mind is our installer/CLI doesn't make it super clear how to install a specific version. I wonder if we should provide a snippet/info/URL for them to install the specific version they need in our error message. Over time I think

[2022-10-25 02:06] NeoLight1010 commented on #578
Sounds good @shayneczyzewski . Where should this message lead to? I can't find any info in the docs for how to install a specific version. Maybe the GitHub Releases page?

[2022-10-25 09:41] #717 closed

[2022-10-25 09:57] sodic commented on #578
Just a couple of things to add here.

### Syntax considerations
I think I'd prefer the following ways of defining the version:
[code]
Or maybe:
[code]
Or even:
[code]

Instead of a nested block (looks a bit excessive):
[code]
What do you guys think?

### One possible caveat
@Martinsos Keep in mind that our SemVer module does not support all Node semver version specifiers.  Users might expect being

[2022-10-25 12:11] shayneczyzewski commented on #578
I agree with @sodic this may be better answered by @Martinsos. I'm not sure if we will need to update the installer script, or if we can provide a snippet where they can easily install from a release link. Maybe we can just add a section to the docs for how to manually do so (once we test it all out) in the worst case and just point them there?

[2022-10-25 15:11] sivasuriyankumarasamy commented on #783
Hi @sodic, please assign this to me.

[2022-10-25 22:39] NeoLight1010 commented on #578
@sodic About the specific syntax, I think `app.wasp.version` does look a bit verbose for now, but I think it would be useful for when more compiler options might are added.

About the SemVer module limitations, we could make it clear in the docs and in the error message that the only allowed syntax for now would be "^0.major.minor.patch", until the SemVer module is changed to allow the other token

[2022-10-26 09:07] Martinsos commented on #578
Nice brainstorming happening here!

1. app.wasp.version vs app.waspVersion vs app.wasp ...
  I don't think it matter greatly at the moment. I think choice is between `app.wasp.version` and `app.waspVersion`, others don't have great naming. Of those two, I would maybe go with the nested one, to leave some space for future configurations here. But truth is I don't know what those are, and this is pr

[2022-10-26 13:03] anup-a commented on #784
Hey 👋 @sodic . Great Project. Can I take up this one ?

[2022-10-26 13:30] anup-a commented on #784
Strange but I was not able to reproduce the error. Can you guide me with some steps to reproduce?

[2022-10-26 19:39] NeoLight1010 commented on #578
Cool! @Martinsos  Then I think we can agree on:

1. `app.wasp.version`, because I already had this one partially done :smile: I can change it to `app.waspVersion` if you think that's better.
2. Supporting only `^0.major.minor.patch` for now.
3. Yes, I would love to work on that feature for the installer :D I can do it after I finish this issue, if that's ok.

Thank you, guys!

[2022-10-26 21:14] Martinsos commented on #578
Sounds good @NeoLight1010 let's do it :)!

[2022-10-27 08:14] Martinsos opened #787 "If there is package.json above the Wasp project, prisma version from it will be used"
I created a new app and added just one simple entity, to get Prisma running.

When I run wasp start, I get following:

[code]

To replicate it, I run wasp clean and then wasp start. I could also just change something a bit in Prisma schema, the point is to get Prisma SDK (client) regenerated.

So it claims that I am using client 2.22.1, although I can see in the generated app that we specified cli

[2022-10-27 08:59] Martinsos commented on #647
Sounds good, let's give it a try! I think the biggest question will be, how much work is it to read the dot env file.

[2022-10-28 10:20] sodic commented on #784
Hey, @anup-a, sorry for the late response? If you're still interested, I can give you the instructions on reproducing it in a couple of hours.

[2022-10-28 10:37] sodic opened #789 "Fix invalid Contact link on our website"
**Describe the bug**
The Contact link is broken on some of our sites.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any of our blog articles, such as https://wasp-lang.dev/blog/2021/09/01/haskell-forall-tutorial
2. Scroll all the way down to see the footer
3. Click on the 'Contacts' link
4. Observe an unexpected "Page not found" message

**Expected behavior**
The footer link should t

[2022-10-28 10:43] sodic commented on #789
Sure, go for it!

[2022-10-28 11:33] vaishnav-mk commented on #789
https://github.com/wasp-lang/wasp/pull/790 should fix this!

[2022-10-28 20:50] pwn0x80 commented on #783
hey @sodic  can you assign this issue to me i can work on it

[2022-10-29 10:03] sodic commented on #783
I've already assigned it to @sivasuriyankumarasamy, but if he's no longer interested, you can take it. Let's give him a day to respond. If he doesn't, it's yours tomorrow at this time :)

[2022-10-29 20:13] sivasuriyankumarasamy commented on #783
Hi @sodic,

I have raised a pr for this issue. Please review.
https://github.com/wasp-lang/wasp/pull/792

[2022-10-29 20:41] farayolaj commented on #334
Hey @matijaSos
I'll like to pick this up.

[2022-10-30 15:38] sodic commented on #783
Thanks! Will merge it in a minute.

Btw, one general tip for contributing to open source projects on GitHub:
- Always mention the issue your PR is fixing in its description (e.g., "Fixes #issueNumber"). This way, Github will links between the PR and the issue in the discussions. Also it will automatically close the original issue after the PR gets merged. I've edited your PR"s description to inclu

[2022-10-30 15:46] #783 closed

[2022-10-30 19:56] Martinsos opened #793 "Missing prefix (server/web app/db) for underlying process in `wasp start` when interrupted by other output"
If we have following job output coming from server:
[code]

and there is a bit of pause between "hi\n" and "wohoo\n" and some other non-job output gets printed there, for example a warning by Wasp: "[wasp] watch out\n", then "wohoo" won't have "Server:" prefix in front of it, although we want it to have it.

So we will get:
[code]

instead of
[code]

This is due to how our logic in Wasp.Generator.

[2022-10-31 12:08] #768 closed

[2022-10-31 21:54] Martinsos opened #796 "Make Wasp installer capable of installing a specific version"
Since now users can have a specific version of Wasp specified for a specific project, what we also want to do is allow them to install a specific version of Wasp!

Therefore, we should expand [the Wasp installer](https://github.com/wasp-lang/get-wasp/blob/master/installer.sh) to take the version number as an argument, and then it would install that specific version.

The best would be if they coul

[2022-10-31 22:00] #578 closed

[2022-11-01 21:43] #702 closed

[2022-11-03 18:20] shayneczyzewski opened #798 "Add support for creating an empty migration via `--create-only`"
**Is your feature request related to a problem? Please describe.**
There are times when no sensible migration can automatically be created. In those instances, users are told by Prisma they must run `prisma migrate dev --create-only`.

**Describe the solution you'd like**
We should have support for this as `wasp db migrate-dev --create-only`.

[2022-11-04 13:39] #560 closed

[2022-11-04 13:39] #568 closed

[2022-11-04 15:30] #796 closed

[2022-11-04 18:57] #793 closed

[2022-11-07 14:44] Martinsos commented on #616
Some progress has been made on this front, so let's recap what we have and what we want!

We upgraded [installer script](https://github.com/wasp-lang/get-wasp/blob/master/installer.sh) to enable installation of a specific Wasp version -> you can specify it with `-v 1.2.3`. It is also smart in a way that it installs different versions next to each other, and if you try to install version that is al

[2022-11-08 08:24] vincanger opened #805 "Improve handling of invalid Prisma schemas"
**Describe the bug**
I've already spoken with @shayneczyzewski about something I've been noticing with Prisma Entities.

It seems some fields aren't being recognized/compiled by Wasp depending on where they are within the entity object:

![image](https://user-images.githubusercontent.com/70215737/200512108-f6a9337d-0666-4646-b9d9-acefc5bd7963.png)

For example, I didn't notice these two properties

[2022-11-08 12:52] vincanger commented on #805
[code]

[2022-11-08 13:13] shayneczyzewski commented on #805
Ok, so it turns out this is not actually a Wasp or Prisma bug per se. Wasp does support optional modifiers (they are used in some sample apps, and even in this example for `updatedAt`). However, neither Wasp nor Prisma supports both `[]` and `?` simultaneously: https://www.prisma.io/docs/concepts/components/prisma-schema/data-model#type-modifiers

| Note: You cannot combine type modifiers - option

[2022-11-08 13:33] shayneczyzewski commented on #805
@vincanger noted VS Code will give a warning if it was just a Prisma schema file.
![unknown](https://user-images.githubusercontent.com/523636/200578125-c8780018-b842-4ea1-bf7c-ef5ee24c0ac4.png)

This is a good use case for extending our `psql` support in some way.

[2022-11-08 17:58] blackheaven commented on #616
I think there are two points we might bring at this point:

1. Version management
2. Project-based compatibility

(1) If I follow your reasoning for `version use ...`, we have something like `rbenv` which allows setting ruby version globally, locally (per project), download latest version (`install -l`), etc.

But I think it's the role of a package manager.

(2) If we think about compatibility, we

[2022-11-09 19:14] shayneczyzewski commented on #616
Really good recap and analysis, @Martinsos. And kudos for adding the version installer script and being able to use the latest install, that is already really nice!

I think you captured all the possible options I can think of for how it may work. I tend to like (2) since I like how I can do this with `nvm`. If we add a `wasp version` I think we may be able to potentially solve all problems:
- We

[2022-11-09 19:17] shayneczyzewski commented on #616
@blackheaven you do make a good point about the implied semantics of `version`. Indeed, perhaps a different term is warranted.

[2022-11-10 10:39] sodic opened #810 "Implement different types for SeverImport and ClientImport"
After merging #753, we require Wasp users to specify whether they're using a symbol in the server runtime or the the browser runtime:
[code]
This is also specified in our docs.

However, we're still treating these two imports as a single type under the hood - `ExtImport`. Therefore, it doesn't matter whether a user imports something using `@client` or `@server`. The import will always work and res

[2022-11-11 13:22] sodic opened #811 "Move environment variable files to `src/server` and `src/client`"
After merging #753, we've separated the server code from the client code. However, the files `.env.server` and `.env.client` are still in the project's root directory.

We should move them to `src/server` and `src/client` respectively. Also, it might make sense to reconsider the name `src`, as it can contain more than just source files (e.g., images, `.env` files, documents...).

While we're at it

[2022-11-11 16:20] #522 closed

[2022-11-11 16:20] #594 closed

[2022-11-11 23:16] shayneczyzewski opened #812 "Look at extension requirements when importing Jobs"
**Is your feature request related to a problem? Please describe.**
A user mentioned that whenever he imports a job in a js file, he has to add .js at the end, he wasn't expecting that, e.g. `import clearOldLogs from '@wasp/actions/clearOldLogs.js';`

**Describe the solution you'd like**
Match existing behavior if different.

[2022-11-14 15:19] shayneczyzewski commented on #9
Ok, so this turned out to be slightly more complex than originally described. :D A few notes on the complications and next steps based on a quick chat with @matijaSos and @sodic:
- We can't really just list a single file, as there can be _many_ different favicon files for different sizes and targets. And while they are often named sanely, it may be limiting to enforce a specific pattern for them.

[2022-11-14 15:36] shayneczyzewski opened #816 "Revisit `src/` directory structure"
We recently moved away from `ext/` and `@ext` imports to `src/client` and `@client` imports (similar for server/shared). This helped with our dev tooling support, amongst other benefits. However, a few questions remain:
- Would it be better to have client/server/shared at the top level and src under each? This would allow us to pull in things like `tailwind.config.js` under client (but not src), a

[2022-11-16 14:11] #724 closed

[2022-11-23 15:39] EmmanuelTheCoder commented on #603
Here is a workaround for this pending the time when Microsoft will provide a permanent fix. **Move your project into the Linux file system root directory**. This will enable WSL to detect changes in your project for hot reload to kick in. You will also notice an increase in performance compared to the Windows file system root directory that is very slow.

[2022-11-23 15:39] Martinsos commented on #603
So what I got from this is that problem is if:
1. You use WSL2 (WSL (1) works)
2. Your source files are being stored on Windows filesystem, not WSL's

Then, detection of file changes for such files doesn't work at all, not just for Wasp, but for anybody.

If I got it right, one solution is to have source files on WSL's filesystem. This means you will want to use editor that is running from WSL, no

[2022-11-23 15:41] Martinsos commented on #603
@EmmanuelTheCoder thanks for providing the fix! Just wondering: If you move them to linux file system, do you need to use editor running via WSL, or can you still use editor you have installed on Windows?

[2022-11-23 15:51] Martinsos commented on #616
Thanks @blackheaven and @shayneczyzewski -> all makes sense to me, I think what remains to figure out is if we will be using `version` for this or not, since it is true that it would be a bit unexpected semantic, although it does make sense on the other hand. Once we make a decision there, I think we can go for some relatively simple first version of (2) solution.

I will let this be for a moment

[2022-11-23 15:52] EmmanuelTheCoder commented on #603
No, you don't need to run an editor via WSL. Linux is interoperable with Windows, i.e you can run Windows tools from Linux. The thing with WSL not detecting changes from a Window file system directory is an issue that I think Microsoft is working to resolve (to further show the interoperability between Windows and Linux commands).

To get more light on this, you will find this link useful: https:/

[2022-11-23 16:50] Martinsos commented on #249
With npm 8, there is `--loglevel` flag.

So while we still haven't figured out how to get `npm install` to behave in interactive manner, at least this way we can actually get more output.

Default is `--loglevel notice`, but that doesn't print almost any messages, so that is not ao solution.
Next level, `http`, on the other hand, prints a ton of messages.
Since next three are `http`, `timing`, and

[2022-11-24 09:08] Martinsos commented on #816
Related to #9

[2022-11-25 11:26] Martinsos commented on #730
Btw this is how docusaurus solves the problem of somebody already occupying the default port:

![image](https://user-images.githubusercontent.com/1536647/203975703-b9729243-c292-4bef-a16a-dae41b9bf3bf.png)

[2022-11-25 21:14] sodic opened #835 "Support custom TypeScript configuration"
## Update 10.08.2026 by @FranjoMindek

User project now compiles with its own tsconfig settings.
We can finally free up the configuration.

## Update 22.08.2024
This issue should solve itself automatically after we close these two:
- #1718
- #2247

##  Original issue
The _tsconfig.json_ files in user source only have effect on IDE support. Our users have no way of configuring the TypeScript compil

[2022-11-25 23:53] shayneczyzewski opened #837 "Make setting Google login button height work with Tailwind enabled"
When you enable Tailwind and Google login, the button is too big by default (a 2x image) and setting the height doesn't work since Tailwind sets `img` heights to `auto` as a base rule: https://github.com/tailwindlabs/tailwindcss/issues/7739

We should allow the user to pass in `style` and `className` props to make it easier to customize this `img`.

[2022-11-26 13:19] Martinsos commented on #588
This got fixed by generally improving how prefixed output is done!

[2022-11-26 13:19] #588 closed

[2022-11-26 13:21] Martinsos commented on #249
At the end, we reverted the loglevel solution above -> it was just too much output.
Instead we introduced nice progress indicator (messages about how install is still progressing).

I believe this is good enough solution for now! It shows that install is happening + only important / relevant logs are forwarded, which is good.

[2022-11-27 12:00] Martinsos commented on #603
Awesome, thanks @craigmc08 and @EmmanuelTheCoder , solve by adding note to docs: cb4dd31169c371c38e898d51647de890a9877add !

[2022-11-27 12:00] #603 closed

[2022-11-27 15:40] EmmanuelTheCoder commented on #603
@Martinsos, Good to know you've added a note to docs to give Windows users an heads up.

[2022-11-27 16:34] monizb commented on #338
Hey! I am interested in picking this up if this is still available!

[2022-11-27 16:51] monizb commented on #334
Can I work on this if available @matijaSos ?

[2022-11-27 19:08] Martinsos commented on #338
Certainly @monizb , please go for it and ping us if you have any questions!

[2022-11-27 19:08] Martinsos commented on #334
@monizb yes pls go for it! @matijaSos and I are here for any questions!

[2022-11-27 19:31] monizb commented on #334
@Martinsos tried to run Waspello locally, `wasp start` gives me the following
[code]

[2022-11-27 20:46] Martinsos commented on #334
Update your wasp version! Go to get started section in docs and run
installation process again, it will then tell you how to update / overwrite
existing installation

On Sun, 27 Nov 2022, 20:32 Monish Basaniwal, ***@***.***>
wrote:

[2022-11-28 06:21] hoanghiaquyen opened #853 "How I can use multiple registry?"
Because my company use private registry. So have some library I can't get it from registry. As me know, npm have config for that: npm i --registry=https://registry.npmjs.org

[2022-11-28 15:03] EmmanuelTheCoder opened #855 "Discussion: Rearrange blog in Docusaurus or revamp to a headless CMS."
The Wasp blog is congested with a lot of information on the screen, this could be too much for the eyes of the readers. A better approach will be to rearrange it in Docusaurus by removing the posts list on the left-hand side of the screen and putting in a place that will be more convenient and friendly to readers. If the limitation of Docusaurus would not let us do that, we should consider revampi

[2022-11-28 15:04] EmmanuelTheCoder commented on #855
@Martinsos @matijaSos @maksim36ua We can discuss this here.

[2022-11-28 18:30] maksim36ua opened #856 "Add monetization model to the FAQ section of the landing page"
Wasp's monetization model and cash flow are not clear enough. Users might have a suspicion that they would get a limited version of the framework. Or would have to pay at the late stage of the dev process.

![image](https://user-images.githubusercontent.com/10496082/204352537-778db86f-a42d-4a70-aea9-53a18c0ccf30.png)

It's proposed to add an answer to this question in the FAQ section of the landin